<template>
    <div class="form-group col-md-12">
        <div style="display: flex" v-for="(contact, index) in contacts" :key="index">
            <div>
                <label :for="`type_${index}`">Тип контакта</label>
                <vue-select
                    :name="`contacts[${index}][type]`"
                    :options="contactTypes"
                    :id="`type_${index}`"
                    v-model="contact.type"
                >
                </vue-select>
            </div>
            <div>
                <label :for="`value_${index}`">Контакт</label>
                <vue-input
                    :name="`contacts[${index}][value]`"
                    v-model="contact.value"
                    :id="`value_${index}`"
                >
                </vue-input>
            </div>
            <div style='padding-top: 22px'>
                <button type="button" class="btn btn-danger" @click="deleteContact(contact)">Удалить</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary" @click="addContact">Добавить контакт</button>
    </div>
</template>

<script>
import Select from '../../components/base/Select';
import Input from '../../components/base/Input';
export default {
    props: ['contactsProp'],
    components: {
        'vue-select': Select,
        'vue-input': Input
    },
    mounted() {
        if(this.contactsProp) {
            this.contacts = this.contactsProp;
            this.updateContactsField();
        }
    },
    data() {
        return {
            contacts: [],
            contactTypes: [
                {name: 'Телефон', id: 'phone'},
                {name: 'Почта', id: 'email'},
                {name: 'Адрес', id: 'address'}
            ]
        }
    },
    methods: {
        addContact() {
            this.contacts.push({type: '', value: ''});
        },
        deleteContact(contact) {
            const index = this.contacts.indexOf(contact);
            if(index != -1) {
                this.contacts.splice(index, 1);
            }
        }
    }
}
</script>
