<template>
  <div class="form-group col-md-12">
    <div>
      <div v-for="(specification, index) in productSpecifications" :key="index" style="display: flex">
        <vue-select
          style="width: 20%"
          :options="specifications"
          :name="`specifications[${specification.id}][id]`"
          :selected="specification.id ? specification.id : null"
          v-model="specification.id"
          @change="changeSpecification($event.target.value, index)"
        />
        <div v-if="specification.entities" style="width: 13%">
          <vue-select
            v-model="specification.value"
            :name="`specifications[${specification.id}][value]`"
            :selected="specification.value ? parseInt(specification.value) : null"
            :options="specification.entities"
          />
        </div>
        <div v-else>
          <vue-input
            style="width: 50%"
            :name="`specifications[${specification.id}][value]`"
            v-model="specification.value"
          />
          <vue-select
            style="width: 50%"
            v-model="specification.dimention_id"
            :selected="specification.dimention_id ? parseInt(specification.dimention_id) : null"
            :name="`specifications[${specification.id}][dimention]`"
            :options="specification.dimentions"
          />
        </div>
        <div>
            <button style="margin: 0" type="button" class="btn btn-danger" @click="deleteSpecification(specification)">Удалить</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" @click="addSpecification">Добавить атрибут</button>
  </div>
</template>

<script>
import Select from "../../components/base/Select";
import Input from "../../components/base/Input";

export default {
  props: ["productId"],
  data() {
    return {
      productSpecifications: [],
      specifications: [],
      dimentions: [],
      base: window.location.origin
    };
  },
  created() {
    if (this.productId) {
      this.getProductSpecifications();
    }
    this.getSpecifications();
  },
  components: {
    "vue-select": Select,
    "vue-input": Input
  },
  methods: {
    getProductSpecifications() {
      axios
        .get(`${this.base}/api/products/${this.productId}/specifications`)
        .then(response => (this.productSpecifications = response.data));
    },
    getSpecifications() {
      axios
        .get(`${this.base}/api/specifications`)
        .then(response => (this.specifications = response.data));
    },
    getDimentions(specificationId) {
      axios
        .get(`${this.base}/api/specifications/${specificationId}/dimentions`)
        .then(response => (this.dimentions = response.data));
    },
    changeSpecification(id, index) {
      axios
        .get(`${this.base}/api/specifications/${id}`)
        .then(response =>
          this.$set(this.productSpecifications, index, response.data)
        );
    },
    addSpecification() {
      this.productSpecifications.push({});
    },
    deleteSpecification(specification) {
      const index = this.productSpecifications.indexOf(specification);
      if(index != -1) {
          this.productSpecifications.splice(index, 1);
      }
    }
  }
};
</script>
