<template>
  <div class="form-group col-md-12">
    <div style="display:flex" v-for="(ingredient, index) in ingredients" :key="index">
      <div>
        <label :for="`ingredient_${index}`">Ингредиент</label>
        <vue-input
          :id="`ingredient_${index}`"
          v-model="ingredient.ingredient"
          :name="`ingredients[${index}][ingredient]`"
        ></vue-input>
      </div>
      <div>
        <label :for="`value_${index}`">Количество</label>
        <vue-input
          v-model="ingredient.amount"
          :id="`value_${index}`"
          :name="`ingredients[${index}][amount]`"
        ></vue-input>
      </div>
      <div style='padding-top: 22px'>
        <button type="button" class="btn btn-danger" @click="deleteIngredient(ingredient)">Удалить</button>
      </div>
    </div>
    <button type="button" class="btn btn-primary" @click="addIngredient">Добавить ингредиент</button>
  </div>
</template>

<script>
import Input from "../../components/base/Input";
export default {
  props: ["ingredientsProp"],
  components: {
    "vue-input": Input
  },
  mounted() {
    if (this.ingredientsProp) {
      this.ingredients = this.ingredientsProp;
    }
  },
  data() {
    return {
      ingredients: []
    };
  },
  methods: {
    addIngredient() {
      this.ingredients.push({ ingredient: "", amount: "" });
    },
    deleteIngredient(ingredient) {
      const index = this.ingredients.indexOf(ingredient);
      if(index != -1) {
        this.ingredients.splice(index, 1);
      }
    }
  }
};
</script>
