@import "../utils/mixins";
@import "../utils/variables";

.about {
    .about-banner {
        background-image: url(../images/about-banner.png);
        background-size: 100%;
        height: 410px;
        @include flex(column, wrap, flex-start, space-evenly);
        padding-left: 41px;
        margin-bottom: 20px;

        .about-text {
            h1 {
                font-size: 36px;
                font-family: "GTWalsheimPro";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.2;
            }

            p {
                font-size: 24px;
                width: 350px;
                font-family: "GTWalsheimPro";
                color: rgb(255, 255, 255);
                line-height: 1.3;
            }
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;

        p {
            @include text('GTWalsheimPro', 16px, 1.5, normal, $darkgray);
            margin: 15px 0;
        }

        span {
            @include text('GTWalsheimPro', 16px, 1.5, normal, $prussianblue);
        }
    }

    .about-advantages {
        h1 {
            font-size: 25px;
            font-family: "GTWalsheimPro";
            color: rgb(0, 57, 93);
            font-weight: bold;
            line-height: 1.2;
            margin-top: 30px;
        }

        .advantages-list {
            @include flex(row, nowrap, center, flex-start);
            background-color: rgb(239, 244, 248);
            height: 100px;
            margin-bottom: 10px;

            .advantages-num {
                background-color: rgb(255, 255, 255);
                width: 58px;
                height: 58px;
                margin: 0 18px;
                @include flex(row, wrap, center, center);

                span {
                    @include text('GTWalsheimPro', 36px, 0.833, bold, rgb(31, 151, 243));
                }
            }

            .advantages-text {
                width: 90%;

                p {
                    font-size: 16px;
                    font-family: 'GTWalsheimPro';
                    color: rgb(33, 33, 33);
                    line-height: 1.313;
                    text-align: left;
                }
            }
        }

        .assortment {
            padding: 40px 0;

            .assortment-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .about-content {
                    p {
                        text-align: center;
                    }
                }
            }
        }

        .order-info {
            border-width: 10px;
            border-color: rgb(239, 244, 248);
            border-style: solid;
            background-color: rgb(255, 255, 255);
            height: 133px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 40px;
            position: relative;
                &::before{
                    content: "";
                    border: solid #eff4f8;
                    border-width: 0 10px 10px 0;
                    display: inline-block;
                    padding: 12px;
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    position: absolute;
                    top: -24px;
                    left: 1.5rem;
                    background-color: #ffffff;
                }

            .about-content {
                span{
                    width: 95%;
                }
            }

            img{
                margin-top: -5.4rem;
            }
        }
        .about-info-bottom{
            padding-top: 60px;
            .seafood-image{
                img{
                    width: 100%;
                }
            }
            .seafood-text{
                h2{
                    font-size: 25px;
                    font-family: "GTWalsheimPro";
                    color: rgb(0, 57, 93);
                    font-weight: bold;
                    line-height: 1.2;
                    margin-bottom: 23px;
                }
                p{
                    font-size: 16px;
                    font-family: "GTWalsheimPro";
                    color: rgb(33, 33, 33);
                    line-height: 1.563;
                    text-align: left;
                }
                .seafood-p{
                    color: rgb(0, 57, 93);
                    margin-top: 15px;
                }
            }
        }

    }
}


@media screen and (max-width:576px){
    .about {
        .about-banner {
            background-size: cover;
            height: 158px;
            background-repeat: no-repeat;
            padding-left: 12px;
            margin-bottom: 5px;
            img{
                width: 133px;
            }
            .about-text {
                h1 {
                    font-size: 18px;
                }
    
                p {
                    font-size: 15px;
                    width: 178px;
                }
            }
        }
    
        .about-content {    
            p {
                font-size: 15px;
                margin: 5px 0;
            }
    
            span {
                font-size: 15px;
            }
        }
    
        .about-advantages {
            h1 {
                font-size: 20px;
                margin-top: 5px;            
            }
    
            .advantages-list {
                height: 100%;
                padding: 0.5rem 0;
                .advantages-num {
                    height: 50px;  
                    margin: 0 11px;  
                }
    
                .advantages-text {
                    width: 73%;
    
                    p {
                        font-size: 15px;
                    }
                }
            }
    
            .assortment {
                padding: 15px 0;
    
                .assortment-info {
                    margin-bottom: 15px;
    
                    .about-content {
                        p {
                            text-align: center;
                        }
                    }
                }
            }
    
            .order-info {
                height: 100%;
                padding: 1rem;
                .about-content {
                    span{
                        width: 100%;
                    }
                }
    
                img{
                    display: none;
                }
            }
            .about-info-bottom{
                padding-top: 25px;
                .seafood-image{
                    img{
                        width: 100%;
                    }
                }
                .seafood-text{
                    h2{
                        font-size: 20px;
                        margin: 5px 0;
                    }
                    p{
                        font-size: 15px;
                    }
                    .seafood-p{
                        color: rgb(0, 57, 93);
                        margin-top: 5px;
                    }
                }
            }
    
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about {
        .about-banner {
            height: 230px;
            background-repeat: no-repeat;
            padding-left: 16px;
            margin-bottom: 5px;
            img{
                width: 200px;
            }
            .about-text {
                h1 {
                    font-size: 22px;
                }
    
                p {
                    font-size: 18px;
                    width: 211px;
                }
            }
        }
    
        .about-content {    
            p {
                font-size: 15px;
                margin: 5px 0;
            }
    
            span {
                font-size: 15px;
            }
        }
    
        .about-advantages {
            h1 {
                font-size: 20px;
                margin-top: 5px;            
            }
    
            .advantages-list {
                height: 100%;
                padding: 0.5rem 0;
                .advantages-num {
                    height: 50px;  
                    margin: 0 11px;  
                }
    
                .advantages-text {
                    width: 100%;
    
                    p {
                        font-size: 15px;
                    }
                }
            }
    
            .assortment {
                padding: 15px 0;
    
                .assortment-info {
                    margin-bottom: 15px;
    
                    .about-content {
                        p {
                            text-align: center;
                        }
                    }
                }
            }
    
            .order-info {
                height: 100%;
                padding: 1rem;
                .about-content {
                    padding: 0.5rem;
                    span{
                        width: 100%;
                    }
                }
    
                img{
                    width: 116px;
                    margin-top: -3rem;
                }
            }
            .about-info-bottom{
                padding-top: 25px;
                .seafood-image{
                    img{
                        width: 100%;
                    }
                }
                .seafood-text{
                    h2{
                        font-size: 20px;
                        margin: 5px 0;
                    }
                    p{
                        font-size: 15px;
                    }
                    .seafood-p{
                        color: rgb(0, 57, 93);
                        margin-top: 5px;
                    }
                }
            }
    
        }
    }
}