@import "../utils/mixins";
@import "../utils/variables";

.blog{
    .blog-content{
        h1{
            @include text('GTWalsheimPro', 20px, 1.5, bold, $prussianblue);
            margin-bottom: 15px;
        }
        .blog-image{
            float: left;
            margin-right: 15px;
            img{
                width: 360px;
                height: auto;
            }
        }
        .blog-text{
            p{
                @include text('GTWalsheimPro', 16px, 1.5, normal, $darkgray);
            }
            .blog-info{
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
                margin-bottom: 10px;
            }
            a{
                @include text('GTWalsheimPro', 16px, 1.5, bold, $prussianblue);
                display: flex;
                align-items: center;
                i{
                    margin-left: 5px;
                }
            }
        }
    }
}