@import "../utils/variables";
@import "../utils/mixins";
.cabinet {
    h1 {
        @include text(Gilroy, 35px, 1.2, bold, $prussianblue);
    }
    .card {
        border: none;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: $scarlet;
        border: unset;
        color: $white;
    }
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    .card-header {
        background-color: unset;
        border: none;
        .btn {
            @include flex(row, nowrap, center, flex-start);
            @include text(Gilroy, 16px, 1, bold, $white);
            border: none;
            box-shadow: unset;
            border-radius: 10px;
            max-width: 229px;
            height: 42px;
        }
    }
    .card-body {
        padding: 0.75rem 1.25rem;
        ul {
            padding-left: 2rem;
            list-style: none;
            li {
                a {
                    @include text(Gilroy, 16px, 2.25, bold, $prussianblue);

                    &.router-link-exact-active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
