@import "../utils/mixins";
@import "../utils/variables";
@import "~slick-carousel/slick/slick-theme.scss";
@import "~slick-carousel/slick/slick.scss";
.card {
    .slider-nav {
        .slick-slide img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            filter: contrast(0.9);
            border-radius: 5px;
        }
        .slick-slide {
            margin: 0 10px;
            max-width: 121px;
            height: 85px;
        }
        .slick-list {
            margin: 0 -10px;
        }
    }
    .slider-for {
        margin-bottom: 1rem;
        .slick-list {
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 4px -2px black;
        }
        .slick-slide {
            height: 375px;
            img {
                width: 100%;
                object-fit: none;
                height: 100%;
            }
        }
    }
    .product-title {
        @include text(GTWalsheimPro, 36px, 1, bold, rgb(0, 0, 0));
    }
    .vendore-code {
        @include text(GTWalsheimPro, 13px, 1, normal, rgb(133, 133, 133));
    }
    .available {
        @include text(GTWalsheimPro, 13px, 1, normal, rgb(91, 163, 114));
        @include flex(row, nowrap, center, flex-start);
        &:before {
            content: "\f058";
            font-family: "Font Awesome 5 Pro";
            font-weight: 600;
            font-size: 18px;
            margin-right: 0.5rem;
        }
    }
    .not-available {
        @include text(GTWalsheimPro, 13px, 1, normal, $scarlet);
        @include flex(row, nowrap, center, flex-start);
        &:before {
            content: "\f00d";
            font-family: "Font Awesome 5 Pro";
            font-weight: 600;
            font-size: 18px;
            margin-right: 0.5rem;
        }
    }
    .star-rating {
        @include flex(row, nowrap, center, space-between);
        &__star {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 14px;
            color: rgb(228, 228, 228);
            transition: color 0.2s ease-out;
            font-weight: 800;
            &.is-selected {
                color: $scarlet;
            }
            &.is-disabled:hover {
                cursor: default;
            }
        }
    }
    .mark {
        @include text(GTWalsheimPro, 13px, 1, normal, rgb(133, 133, 133));
        background: none;
        padding: 0;
    }
    .favorites-btn {
        @include text(GTWalsheimPro, 13px, 1, normal, rgb(133, 133, 133));
        @include flex(row, nowrap, center, flex-start);
        background: unset;
        border: none;
        padding: 0;
        &:before {
            content: "\f004";
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            font-size: 18px;
            margin-right: 0.5rem;
        }
    }
    .properties {
        list-style: none;
        padding: 0;
        li {
            @include flex(row, nowrap, baseline, space-between);
            margin-bottom: 0.75rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            span:not(.key):not(.value) {
                flex: 1;
                border-bottom: 2px dotted rgb(133, 133, 133);
                margin: 0 0.5rem;
            }
            .key {
                @include text(
                    GTWalsheimPro,
                    14px,
                    1.143,
                    normal,
                    rgb(133, 133, 133)
                );
            }
            .value {
                @include text(GTWalsheimPro, 14px, 1.143, bold, rgb(0, 0, 0));
                flex: 0 0 50%;
            }
        }
    }
    .prices {
        flex: 0 0 50%;
        h5 {
            @include text(GTWalsheimPro, 14px, 1.2, normal, rgb(0, 0, 0));
        }
        ol {
            @include flex(row, wrap, baseline, space-between);
            padding: 0;
            list-style: none;
            li {
                .old-price {
                    @include text(
                        GTWalsheimPro,
                        24px,
                        1.2,
                        normal,
                        rgb(133, 133, 133)
                    );
                    position: relative;
                    &:before {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 50%;
                        right: 0;
                        border-top: 1px solid;
                        border-color: inherit;
                        -webkit-transform: rotate(-5deg);
                        -moz-transform: rotate(-5deg);
                        -ms-transform: rotate(-5deg);
                        -o-transform: rotate(-5deg);
                        transform: rotate(-5deg);
                    }
                }
                .price {
                    @include text(GTWalsheimPro, 36px, 1.2, bold, $scarlet);
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .cart-btn {
        flex: 0 0 50%;
        @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
        border-radius: 10px;
        background-color: rgb(12, 118, 227);
        max-width: 212px;
        border: none;
        height: 50px;
    }
    .nav-tabs {
        border-bottom: 1px solid rgb(240, 240, 240);
    }
    .nav-link {
        padding: 0.75rem 2rem;
    }
    .nav-tabs .nav-link {
        @include text(GTWalsheimPro, 16px, 1.2, bold, rgb(0, 0, 0));
        background-color: rgb(240, 240, 240);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: rgb(255, 255, 255);
        background-color: rgb(12, 118, 227);
    }
    #nav-description {
        @include text(GTWalsheimPro, 14px, 1.2, normal, rgb(74, 74, 74));
    }
    .tab-pane {
        margin: 2rem 0;
    }
    .product.slider {
        position: relative;
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next,
        .slick-prev {
            background-color: $navyblue;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:before {
                font-size: 16px;
                color: $white;
            }
        }
        .product-card {
            @include flex(column, nowrap, stretch, space-between);
            border-radius: 15px;
            background-color: $white;
            overflow: hidden;
            border: 2px solid $whitesmoke;
        }
        .product-header {
            position: relative;
            .tag {
                @include flex(row, wrap, center, center);
                @include text(GTWalsheimPro, 14px, 1.2, normal, $white);
                border-radius: 10px;
                background-color: $scarlet;
                position: absolute;
                width: 52px;
                height: 25px;
                top: 1rem;
                left: 1rem;
            }
            a {
                display: contents;
            }
            img {
                width: 100%;
                height: 180px;
                object-fit: scale-down;
            }
        }
        .product-body {
            p {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $arsenic);
            }
            .vendore-code {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
            }
            .price {
                @include text(GTWalsheimPro, 20px, 1.2, bold, $prussianblue);
                span {
                    padding-left: 0.3rem;
                    display: inline-block;
                }
            }
            .old-price {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
                text-decoration: line-through;
            }
        }
        .slick-slide {
            margin: 0 10px;
        }
        .cart-btn {
            @include flex(row, nowrap, center, center);
            border-radius: 10px;
            background-color: #007eff;
            max-width: 50px;
            height: 50px;
            border: none;
            outline: none;
            transition: all 0.3s ease;
            &:hover {
                box-shadow: 0px 0px 15px 0px rgba(0, 126, 255, 0.48);
                transform: scale(1.02);
            }
        }
    }
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
    }
}
.swal2-content {
    form {
        .star-rating {
            @include flex(row-reverse, nowrap, center, space-between);
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
            input {
                display: none;
            }
            .star-rating__star:hover,
            .star-rating__star:hover ~ .star-rating__star,
            input:checked ~ .star-rating__star {
                color: $scarlet;
            }
            &__star {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                font-size: 14px;
                color: rgb(228, 228, 228);
                transition: color 0.2s ease-out;
                font-weight: 800;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        textarea {
            font-size: 14px;
            font-family: "GTWalsheimPro";
            color: #323232;
            line-height: 1.2;
            width: 100%;
            position: relative;
            margin-top: 1rem;
            border-style: solid;
            border-width: 2px;
            border-color: #e3e4eb;
            border-radius: 4px;
            width: 100%;
            height: 84px;
            resize: none;
            margin-top: 0.5rem;
            color: #222222;
            padding-left: 1rem;
        }
    }
}

#product_quantity_controls {
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 28px;
    width: 100%;
    max-width: calc(56px * 3);
    height: 54px;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    button {
        font-size: 36px;
        font-family: "GTWalsheimPro";
        color: rgb(34, 34, 34);
        line-height: 1;
        background-color: #fff;
        border: none;
        width: 56px;
        height: 100%;
        &:focus,
        &:active {
            background-color: rgb(235, 235, 235);
        }
    }
    input {
        &[disabled] {
            background-color: #fff;
        }
        margin: 0;
        font-size: 24px;
        font-family: "GTWalsheimPro";
        color: rgb(34, 34, 34);
        line-height: 1.5;
        width: 56px;
        height: 100%;
        border: none;
        border-left: 1px solid rgb(235, 235, 235);
        border-right: 1px solid rgb(235, 235, 235);
        text-align: center;
    }
}
