@import "../utils/mixins";
@import "../utils/variables";
@import "~vue-datetime/dist/vue-datetime.css";
.cart {
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
    }
    .form-check-label span {
        font-size: 16px;
        font-family: "GTWalsheimPro";
        color: rgb(50, 50, 50);
        line-height: 1;
    }
    .form-check {
        margin-top: 1rem;
    }
}
.vdatetime {
    .vdatetime-input {
        font-size: 14px;
        font-family: "GTWalsheimPro";
        color: #222222;
        line-height: 1.2;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(227, 228, 235);
        border-radius: 4px;
        width: 100%;
        height: 36px;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        &::placeholder {
            color: rgb(176, 177, 182);
        }
    }
}
