@import "../utils/mixins";
@import "../utils/variables";

.catalog {
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
    }
    h3 {
        @include text(GTWalsheimPro, 25px, 1.2, bold, $prussianblue);
        @include flex(row, nowrap, center, flex-start);
        height: 50px;
    }
    .sorting {
        @include flex(row, wrap, flex-end, space-between);
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgb(201, 201, 201);
        li {
            flex: 0 0 200px;
            height: 50px;
            @include flex(row, nowrap, center, center);
            p {
                @include text(GTWalsheimPro, 14px, 1.2, bold, rgb(39, 51, 60));
            }
            .btn {
                @include text(
                    GTWalsheimPro,
                    14px,
                    1.2,
                    bold,
                    rgb(116, 116, 116)
                );
                background-color: rgba(255, 255, 255, 0);
                border: none;
                height: 100%;
                width: 100%;
                border-radius: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transition: 0;
                span {
                    pointer-events: none;
                }
                i {
                    pointer-events: none;
                    display: none;
                    font-size: 28px;
                }
                &:focus,
                &.focus {
                    box-shadow: unset;
                }
                &.active {
                    color: $white;
                    background-color: $scarlet;
                }
            }
        }
    }
    .cart-btn {
        @include flex(row, nowrap, center, center);
        border-radius: 10px;
        background-color: $dodgerblue;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(0, 126, 255, 0.48);
            transform: scale(1.02);
        }
        &.empty {
            background-color: #ff2703;
        }
        img {
            pointer-events: none;
        }
    }
    .product-card {
        @include flex(column, nowrap, stretch, space-between);
        border-radius: 15px;
        background-color: $white;
        overflow: visible;
        height: 100%;
        transition: all 0.4s ease;
        border: 2px solid $white;
        &:hover {
            transform: scale(1.05);
            border: 2px solid $whitesmoke;
        }
    }
    .product-header {
        position: relative;
        .tag {
            @include flex(row, wrap, center, center);
            @include text(GTWalsheimPro, 14px, 1.2, normal, $white);
            border-radius: 10px;
            background-color: $scarlet;
            position: absolute;
            width: 52px;
            height: 25px;
            top: 1rem;
            left: 1rem;
        }
        a {
            display: contents;
        }
        img {
            width: 100%;
            height: 180px;
            object-fit: scale-down;
        }
    }
    .product-body {
        @include flex(column, nowrap, stretch, space-between);
        flex-grow: 1;
        p {
            @include text(GTWalsheimPro, 14px, 1.2, normal, $arsenic);
        }
        .vendore-code {
            @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
            max-width: 120px;
        }
        .price {
            @include text(GTWalsheimPro, 20px, 1.2, bold, $prussianblue);
            span {
                padding-left: 0.3rem;
                display: inline-block;
            }
        }
        .old-price {
            @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
            text-decoration: line-through;
        }
    }
    .star-rating {
        &__star {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;
            font-size: 1em;
            color: rgb(228, 228, 228);
            transition: color 0.2s ease-out;
            font-weight: 800;
            &:hover {
                cursor: pointer;
            }

            &.is-selected {
                color: $scarlet;
            }

            &.is-disabled:hover {
                cursor: default;
            }
        }
    }
    .filters {
        @include flex(column, nowrap, stretch, space-between);
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 4px 2px rgb(245, 245, 245);
        position: sticky;
        top: 0;
    }
    .card {
        border: none;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: unset;
        border: unset;
        color: unset;
    }
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    .card-header {
        background-color: unset;
        border: none;
        .btn {
            @include text(GTWalsheimPro, 16px, 1.25, bold, rgb(63, 62, 65));
            border: none;
            background-color: unset;
            box-shadow: unset;
            padding: 0;

            @include flex(row, nowrap, center, space-between);
            i {
                transition: all 0.2s ease;
                transform-origin: 50% 60%;
            }
            &.not-collapsed {
                i {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .card-body {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        ul {
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
                label {
                    font-size: 14px;
                    font-family: "GTWalsheimPro";
                    color: rgb(63, 62, 65);
                    line-height: 1;
                    @include flex(row, nowrap, center, flex-start);
                    input {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
    .apply-btn {
        @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
        border-radius: 5px;
        background-color: $dodgerblue;
        max-width: 195px;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        border: none;
        display: block;
        outline: none;
    }
    .reset-btn {
        @include text(GTWalsheimPro, 16px, 1.2, normal, rgb(154, 154, 154));
        background: none;
        border: none;
        text-decoration: underline;
        position: relative;
        outline: none;
        &::before {
            font-family: "Font Awesome 5 Pro";
            content: "\f021";
            position: absolute;
            right: 100%;
            top: 0;
        }
    }
    .show-more {
        @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
        border-radius: 5px;
        background-color: rgb(255, 39, 3);
        max-width: 230px;
        width: 100%;
        height: 50px;
        border: none;
    }
}
@media (max-width: 767px) {
    .catalog .sorting li:first-child {
        display: none;
    }
    .catalog .sorting li .btn span {
        display: none;
    }
    .catalog .sorting li .btn i {
        display: block;
    }
    .catalog .sorting li {
        flex: 1;
    }
}
@media (min-width: 768px) and (max-width: 1198px) {
    .catalog .sorting li {
        flex: 1;
    }
}
