.contacts {
    .contacts-inner {
        display: flex;
        .contacts-left {
            background-image: url(../images/contact.png);
            background-size: cover;
            padding: 30px 0 50px 0;
            width: 290px;
            height: 940px;
            .phone-bottom {
                margin-bottom: 20px;
            }
            .phone {
                margin-top: 20px;
                padding-left: 38px;
                .phone-p {
                    color: #fff;
                    margin-bottom: 5px;
                }
                a {
                    font-size: 17px;
                    font-family: "GTWalsheimPro";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.176;
                    text-align: left;
                }
            }
            .email {
                margin: 10px 0 15px 0;
                a {
                    color: #ffae00;
                    font-size: 14px;
                    font-family: "GTWalsheimPro";
                    font-weight: bold;
                    line-height: 1.176;
                    text-align: left;
                    padding-left: 38px;
                }
            }
            .phone-info {
                display: flex;
                padding-right: 38px;
                .social-icon {
                    display: flex;
                    margin-top: 20px;
                    margin-left: 15px;
                    a {
                        margin-right: 2px;
                    }
                }
            }
            .address-info {
                background-image: url(../images/adress.png);
                padding: 29px 20px 30px 38px;
                width: 300px;
                h1 {
                    font-size: 16px;
                    font-family: "GTWalsheimPro";
                    color: rgb(255, 255, 255);
                    line-height: 1.125;
                }
                p {
                    font-size: 15px;
                    font-family: "GTWalsheimPro";
                    color: rgb(255, 255, 255);
                    line-height: 1.125;
                }
            }
            .feedback {
                padding: 0 38px;
                h1 {
                    padding: 30px 0 15px 0;
                    font-size: 18px;
                    font-family: "GTWalsheimPro";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.667;
                }
                input {
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    width: 212px;
                    height: 50px;
                    border: none;
                    padding-left: 26px;
                    &::placeholder {
                        font-size: 15px;
                        font-family: "GTWalsheimPro";
                        color: rgb(33, 33, 33);
                        line-height: 1.667;
                    }
                }
                .text-danger {
                    font-family: GTWalsheimPro;
                    font-size: 12.5px;
                    line-height: 1.2;
                    font-weight: bold;
                    position: absolute;
                    top: 100%;
                    white-space: nowrap;
                }
                .form-group {
                    position: relative;
                    margin-bottom: 1.2rem;
                }
                textarea {
                    border-radius: 10px;
                    padding-left: 26px;
                    padding-top: 15px;
                    background-color: rgb(255, 255, 255);
                    width: 212px;
                    height: 159px;
                    resize: none;
                    border: none;
                    &::placeholder {
                        font-size: 15px;
                        font-family: "GTWalsheimPro";
                        color: rgb(33, 33, 33);
                        line-height: 1.667;
                    }
                }
                button {
                    font-size: 16px;
                    font-family: "GTWalsheimPro";
                    color: rgb(42, 60, 67);
                    font-weight: bold;
                    line-height: 3.125;
                    text-align: center;
                    border-radius: 10px;
                    background-color: rgb(255, 174, 0);
                    width: 212px;
                    height: 50px;
                    border: none;
                    margin-bottom: 20px;
                }
                .contacts-check {
                    display: flex;
                    align-items: baseline;
                    .label--checkbox {
                        position: relative;
                        display: flex;
                        margin: 0.5rem;
                        line-height: 135%;
                        cursor: pointer;
                        display: flex;
                        align-items: flex-start;
                        p {
                            font-size: 13px;
                            font-family: "GTWalsheimPro";
                            color: rgb(255, 255, 255);
                            line-height: 1.538;
                            text-align: left;
                            margin-left: 10px;
                            a {
                                color: #fff;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }

                    .checkbox {
                        position: relative;
                        top: rem(-6);
                        width: 1px;
                        margin: 0 1rem 0 0;

                        cursor: pointer;

                        &:before {
                            transition: all 0.3s ease-in-out;

                            content: "";

                            position: absolute;
                            left: 0;
                            z-index: 1;

                            width: 1.1rem;
                            height: 1rem;

                            border: 2px solid #f2f2f2;
                        }

                        &:checked {
                            &:before {
                                transform: rotate(-45deg);
                                height: 0.5rem;

                                border-color: green;
                                border-top-style: none;
                                border-right-style: none;
                            }
                        }

                        &:after {
                            content: "";

                            position: absolute;
                            top: rem(-2);
                            left: 0;

                            width: 1.1rem;
                            height: 1rem;

                            background: #fff;
                            border: 1px solid #f2f2f2;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .contacts-right {
            margin-left: 30px;
            #map {
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .contacts {
        .contacts-inner {
            flex-direction: column;
            .contacts-left {
                width: 100%;
                .address-info {
                    width: 100%;
                    background-size: cover;
                    height: 130px;
                }
                .feedback {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                input {
                    width: 100% !important;
                }
                textarea {
                    width: 100% !important;
                }
                .contacts-check {
                    input {
                        width: 1px !important;
                    }
                }
            }

            .contacts-right {
                margin-left: 0;
                #map {
                    width: 100% !important;
                    height: 300px !important;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contacts {
        .contacts-inner {
            .contacts-left {
                width: 250px;
                .phone {
                    padding-left: 18px;
                }
                .phone-info {
                    padding-right: 18px;
                }
                .address-info {
                    padding: 22px 20px 22px 38px;
                    width: 263px;
                    background-size: contain;
                }
                .feedback {
                    padding: 0 18px;
                }
            }
            .contacts-right {
                #map {
                    width: 410px !important;
                    height: 940px;
                }
            }
        }
    }
}
