@import "../utils/mixins";
@import "../utils/variables";
@import "~slick-carousel/slick/slick-theme.scss";
@import "~slick-carousel/slick/slick.scss";
.home {
    overflow-x: hidden;
    .advantage-card {
        @include flex(row, wrap, center, flex-start);
        border-radius: 15px;
        height: 195px;
        position: relative;
        overflow: hidden;
        background-size: auto !important;
        background-repeat: no-repeat !important;
        padding: 0 2.5rem;
        transition: all 0.4s ease;
        &:hover {
            transform: scale(1.05);
        }
        .content-block {
            max-width: 260px;
        }
        h2 {
            @include text(GTWalsheimPro, 30px, 1.2, bold, $white);
            margin-bottom: 0.5rem;
        }
        p {
            @include text(
                GTWalsheimPro,
                14px,
                1.2,
                normal,
                rgba(255, 255, 255, 0.6)
            );
        }
    }
    .categories.slider {
        a {
            display: contents;
        }
        img {
            border-radius: 15px;
            width: 78px;
            height: 77px;
            object-fit: scale-down;
            margin: 0 auto 0.75rem auto;
        }
        p {
            @include text(GTWalsheimPro, 14px, 1.2, normal, $prussianblue);
            text-align: center;
            max-width: 135px;
            margin: 0 auto;
        }
        .slick-prev:before,
        .slick-next:before {
            color: $pattensblue;
            font-size: 16px;
        }
        .slick-prev,
        .slick-next {
            border-radius: 50%;
            background-color: $aliceblue;
            width: 40px;
            height: 40px;
        }
        .slick-next {
            right: -2rem;
        }
        .slick-prev {
            left: -2rem;
        }
    }
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
        span {
            color: $white;
        }
    }
    .offer-prev,
    .offer-next {
        border-radius: 50%;
        background-color: $white;
        width: 40px;
        height: 40px;
        display: block;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        padding: 0;
        border: none;
        outline: none;
        &:hover,
        &:focus {
            outline: none;
        }
        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            font-size: 16px;
            line-height: 1;
            color: $pattensblue;
            opacity: $slick-opacity-default;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .offer-prev {
        &:before {
            content: $slick-prev-character;
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }
    .offer-next {
        &:before {
            content: $slick-next-character;
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }
    .offers-nav {
        @include flex(row, nowrap, center, space-between);
        padding: 0;
        list-style: none;
        width: 90px;
    }
    .offers.slider {
        .offer-card {
            @include flex(column, nowrap, stretch, space-between);
            border-radius: 15px;
            background-color: $white;
            overflow: hidden;
        }
        .offer-header {
            position: relative;
            a {
                display: contents;
            }
            img {
                width: 100%;
                height: 219px;
                object-fit: contain;
            }
            .sale {
                position: absolute;
                top: 2rem;
                left: 1rem;
                span {
                    padding-left: 0.3rem;
                }
                .previous-price {
                    @include flex(row, nowrap, center, center);
                    @include text(GTWalsheimPro, 14px, 1.2, bold, $codgrey);
                    text-decoration: line-through;
                    border-radius: 7.5px;
                    background-color: $white;
                    width: 83px;
                    height: 30px;
                    position: absolute;
                    bottom: 85%;
                    right: 40%;
                    transform: rotate(-20deg);
                    span {
                        display: contents;
                    }
                }
                .special-price {
                    @include flex(row, nowrap, center, center);
                    @include text(GTWalsheimPro, 20px, 1.2, bold, $codgrey);
                    border-radius: 15px;
                    background-color: $orange;
                    width: 116px;
                    height: 50px;
                }
            }
        }
        .offer-body {
            p {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $arsenic);
            }
            .price {
                @include text(GTWalsheimPro, 20px, 1.2, bold, $scarlet);
                span {
                    display: inline-block;
                    padding-left: 0.3rem;
                }
            }
        }
        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            margin: 0 -10px;
        }
    }
    .cart-btn {
        @include flex(row, nowrap, center, center);
        border-radius: 10px;
        background-color: $oldrose;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        transition: all 0.3s ease;
        &.empty {
            background-color: #ff2703;
        }
        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(182, 47, 82, 0.48);
            transform: scale(1.02);
        }
        img {
        }
    }
    .product.slider {
        position: relative;
        .product-card {
            @include flex(column, nowrap, stretch, space-between);
            border-radius: 15px;
            background-color: $white;
            overflow: hidden;
            border: 2px solid $whitesmoke;
        }
        .product-header {
            position: relative;
            .tag {
                @include flex(row, wrap, center, center);
                @include text(GTWalsheimPro, 14px, 1.2, normal, $white);
                border-radius: 10px;
                background-color: $scarlet;
                position: absolute;
                width: 52px;
                height: 25px;
                top: 1rem;
                left: 1rem;
            }
            a {
                display: contents;
            }
            img {
                width: 100%;
                height: 180px;
                object-fit: scale-down;
            }
        }
        .product-body {
            p {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $arsenic);
            }
            .vendore-code {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
            }
            .price {
                @include text(GTWalsheimPro, 20px, 1.2, bold, $prussianblue);
                span {
                    padding-left: 0.3rem;
                    display: inline-block;
                }
            }
            .old-price {
                @include text(GTWalsheimPro, 14px, 1.2, normal, $greychateau);
                text-decoration: line-through;
            }
        }
        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            margin: 0 -10px;
        }
    }
    .product.slider.popular {
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next,
        .slick-prev {
            background-color: $navyblue;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:before {
                font-size: 16px;
                color: $white;
            }
        }
    }
    .product.slider.sales {
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next,
        .slick-prev {
            background-color: $orange;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &:before {
                font-size: 16px;
                color: $white;
            }
        }
    }
    article {
        h2 {
            @include text(GTWalsheimPro, 25px, 1.2, bold, $prussianblue);
            margin-bottom: 1rem;
        }
        p {
            @include text(GTWalsheimPro, 16px, 1.2, normal, $darkgray);
            margin-bottom: 1rem;
        }
        .read-more {
            @include flex(row, wrap, center, center);
            @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
            border-radius: 10px;
            background-color: rgb(182, 47, 82);
            max-width: 209px;
            width: 100%;
            height: 50px;
        }
    }
}
@media (max-width: 767px) {
    .home {
        .offers-nav {
            display: none;
        }
    }
}
