@import "../utils/mixins";
@import "../utils/variables";
.recipes {
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
    }
    .categories {
        border: 10px solid rgb(239, 244, 248);
        position: relative;
        &::before {
            content: attr(nav-title);
            position: absolute;
            bottom: 100%;
            left: 5%;
            background: $white;
            @include text(GTWalsheimPro, 24px, 0, bold, $oldrose);
            height: 10px;
            max-width: 160px;
            width: 100%;
            @include flex(row, nowrap, baseline, center);
        }
        ul {
            list-style: none;
            padding: 1.5rem 0;
            li {
                padding-left: 2rem;
                position: relative;
                &.active {
                    &::before {
                        content: "";
                        width: 10px;
                        height: 100%;
                        background-color: $scarlet;
                        right: 100%;
                        top: 0;
                        position: absolute;
                    }
                    a {
                        color: $scarlet;
                    }
                }
                a {
                    @include text(
                        GTWalsheimPro,
                        15px,
                        2.4,
                        normal,
                        rgb(38, 50, 56)
                    );
                }
            }
        }
    }
    .best-recipes {
        border-radius: 10px;
        background-color: rgb(250, 250, 250);
        padding: 1.5rem 2rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 0;
            min-height: 0;
            border-bottom: 20px solid $white;
            border-left: 20px solid $dodgerblue;
            position: absolute;
        }
        h3 {
            @include text(GTWalsheimPro, 20px, 1.25, bold, $prussianblue);
            margin-bottom: 1.5rem;
        }
        ol {
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 2rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                .recipe {
                    a {
                        display: contents;
                    }
                    img {
                        border-radius: 10px;
                        max-width: 222px;
                        height: 115px;
                        width: 100%;
                        object-fit: cover;
                    }
                    p {
                        @include text(
                            GTWalsheimPro,
                            15,
                            1.667,
                            bold,
                            rgb(64, 64, 64)
                        );
                    }
                }
            }
        }
    }
    .recipe-item,
    .recipe-content {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    .recipe-item::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: -moz-linear-gradient(
            0deg,
            rgb(0, 126, 255) 0%,
            rgba(51, 164, 87, 0) 100%
        );
        background-image: -webkit-linear-gradient(
            0deg,
            rgb(0, 126, 255) 0%,
            rgba(51, 164, 87, 0) 100%
        );
        background-image: -ms-linear-gradient(
            0deg,
            rgb(0, 126, 255) 0%,
            rgba(51, 164, 87, 0) 100%
        );
        background-image: linear-gradient(
            0deg,
            rgb(0, 126, 255) 0%,
            rgba(51, 164, 87, 0) 100%
        );
        opacity: 0;
        transition: all 0.6s ease;
    }
    .recipe-item:hover {
        &::after {
            opacity: 1;
        }

        .recipe-title {
            opacity: 1;
        }
        .recipe-link {
            top: calc(50% - 25px);
        }
    }
    .recipe-content img {
        width: 100%;
        object-fit: cover;
    }
    .recipe-content {
        overflow: hidden;
    }
    .recipe-item {
        color: #111111;
        background-color: #f9f9f9;
        margin-bottom: 20px;
    }
    .recipe-title {
        @include text(GTWalsheimPro, 24px, 1.5, bold, $white);
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: inline;
        opacity: 0;
        transition: all 0.6s ease;
        z-index: 100;
        padding: 1rem;
    }
    .recipe-link {
        position: absolute;
        z-index: 101;
        top: -100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include flex(row, nowrap, center, center);
        width: 100%;
        max-width: 200px;
        height: 50px;
        transition: all 1s ease;
        @include text(GTWalsheimPro, 18px, 1.667, normal, $white);
        border-radius: 10px;
        background-color: $scarlet;
    }
    .show-more {
        background: none;
        border: none;
        @include text(GTWalsheimPro, 18px, 1.389, normal, $prussianblue);
        outline: none;
        span {
            font-weight: bold;
            font-size: 30px;
            color: $scarlet;
        }
    }
    .recipe {
        img {
            width: 100%;
            border-radius: 10px;
            object-fit: contain;
        }
        .properties {
            list-style: none;
            padding: 0;
            li {
                @include flex(row, nowrap, baseline, space-between);
                margin-bottom: 0.75rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                span:not(.key):not(.value) {
                    flex: 1;
                    border-bottom: 2px dotted rgb(133, 133, 133);
                    margin: 0 0.5rem;
                }
                .key {
                    @include text(
                        GTWalsheimPro,
                        14px,
                        1.143,
                        normal,
                        rgb(133, 133, 133)
                    );
                }
                .value {
                    @include text(
                        GTWalsheimPro,
                        14px,
                        1.143,
                        bold,
                        rgb(0, 0, 0)
                    );
                    flex: 0 0 25%;
                }
            }
        }
        .cart-btn {
            @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
            border: none;
            border-radius: 10px;
            background-color: $dodgerblue;
            max-width: 192px;
            width: 100%;
            height: 50px;
        }
        .description {
            h3 {
                @include text(GTWalsheimPro, 18px, 1.5, bold, $prussianblue);
            }
            p {
                @include text(
                    GTWalsheimPro,
                    16px,
                    1.375,
                    normal,
                    rgb(74, 74, 74)
                );
            }
        }
        h2 {
            @include text(GTWalsheimPro, 25px, 1, bold, $prussianblue);
        }
        .step {
            @include flex(row, nowrap, center, flex-start);
            border-bottom: 1px solid rgba(0, 57, 93, 0.2);
            padding: 1.5rem 0;
            width: 100%;
            img {
                border-radius: 10px;
                width: 247px;
                height: 164px;
                object-fit: none;
            }
            p {
                @include text(GTWalsheimPro, 12px, 2, normal, rgb(74, 74, 74));
                margin-left: 2rem;
            }
        }
        .star-rating {
            @include flex(row, nowrap, center, space-between);
            &__star {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                font-size: 14px;
                color: rgb(228, 228, 228);
                transition: color 0.2s ease-out;
                font-weight: 800;
                &.is-selected {
                    color: $scarlet;
                }
                &.is-disabled:hover {
                    cursor: default;
                }
            }
        }
    }
}
.swal2-content {
    form {
        .star-rating {
            @include flex(row-reverse, nowrap, center, space-between);
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
            input {
                display: none;
            }
            .star-rating__star:hover,
            .star-rating__star:hover ~ .star-rating__star,
            input:checked ~ .star-rating__star {
                color: $scarlet;
            }
            &__star {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                font-size: 14px;
                color: rgb(228, 228, 228);
                transition: color 0.2s ease-out;
                font-weight: 800;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        textarea {
            font-size: 14px;
            font-family: "GTWalsheimPro";
            color: #323232;
            line-height: 1.2;
            width: 100%;
            position: relative;
            margin-top: 1rem;
            border-style: solid;
            border-width: 2px;
            border-color: #e3e4eb;
            border-radius: 4px;
            width: 100%;
            height: 84px;
            resize: none;
            margin-top: 0.5rem;
            color: #222222;
            padding-left: 1rem;
        }
    }
}
@media (max-width: 767px) {
    .recipes h1 {
        font-size: 30px;
    }
    .recipes .recipe-link {
        display: none;
    }
    .recipes .recipe-title {
        font-size: 17px;
        padding: 0 1rem;
    }
    .recipes .recipe .step p {
        margin-left: 0;
        text-align: center;
    }
    .recipes .recipe .step img {
        margin-left: auto;
        margin-right: auto;
    }
    .recipes .recipe .step {
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .recipes h1 {
        font-size: 30px;
    }
    .recipes .recipe-link {
        display: none;
    }
    .recipes .recipe-title {
        font-size: 17px;
        padding: 0 1rem;
    }
}
