@import "../utils/mixins";
@import "../utils/variables";

.delivery {
    img {
        width: 100%;
    }
    .delivery-content {
        h1 {
            @include text("GTWalsheimPro", 20px, 1.5, bold, $prussianblue);
            margin-bottom: 15px;
        }
        p {
            @include text("GTWalsheimPro", 16px, 1.5, normal, $darkgray);
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 576px) {
    .delivery {
        .delivery-content {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .delivery {
        .delivery-content {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
