.pageblock {
    position: relative;
}
.pageblock .pageblock-btn {
    background: #adadea;
    height: 33px;
    opacity: 0.4;
    border: 0;
    transition: 0.5s;
    color: #fff;
}

.pageblock .pageblock-btn:hover {
    background: blue;
    opacity: 1;
}

.pageblock .pageblock-btn.bg-img {
    position: absolute;
    top: -35px;
    right: -3px;
}
.mce-tinymce.mce-container.mce-panel {
   transition: 0.5s;
   border: 2px solid #adadea !important;
}
.mce-tinymce.mce-container.mce-panel:hover {
   border: 2px solid blue !important;
}

.pageblock-img {
   transition: 0.5s;
   border: 2px solid #adadea !important;
}

.pageblock-img:hover {
   border: 2px solid blue !important;
}

.pageblock input {
    transition: 0.5s;
    background: transparent;
    border: 2px solid #adadea;
    padding: 6px;
    min-width: 200px;
}

.pageblock input:hover {
    border: 2px solid blue;
}


.pagebuilder-input.img {
    position: absolute;
    top: -40px;
    right: 5px;
    border: 0;
}

.mce-notification-warning {
    display: none!important;
}