@keyframes categoryAnim {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
#catalogModal {
    .modal-dialog {
        max-width: 1063px;
    }
}
#authorizationModal,
#registrationModal,
#passwordResetModal {
    .modal-dialog-centered,
    .modal-dialog-centered::before {
        height: unset;
        min-height: unset;
    }
}
#catalogModal,
#authorizationModal,
#registrationModal,
#passwordResetModal {
    .modal-dialog-centered {
        align-items: stretch;
    }
    .modal-content {
        border: none;
    }
    &.modal.show {
        background-color: rgba(0, 126, 255, 0.4);
    }
    .modal-dialog {
        border-radius: 10px;
        background-color: $white;
    }
    #category-name {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
        text-align: center;
        margin: 1rem 0;
    }
    .modal-header {
        border: none;
        justify-content: center;
        .modal-title {
            @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
            text-align: center;
        }
        .close {
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 10px;
            background-color: $dodgerblue;
            box-shadow: 0px 20px 43px 0px rgba(12, 118, 227, 0.48);
            width: 50px;
            height: 50px;
            opacity: 1;
            @include flex(row, nowrap, center, center);
            i {
                color: $white;
                line-height: 0;
            }
        }
    }
    .modal-body {
        padding: 1rem 7rem;
        ul {
            @include flex(row, wrap, center, center);
            padding-left: 0;
            list-style: none;
            li {
                border-radius: 15px;
                background-color: rgb(230, 255, 231);
                margin-right: 16px;
                margin-bottom: 16px;
                position: relative;
                z-index: 1;
                transition-delay: 0.2s !important;
                overflow: hidden;
                background: inherit;
                animation: categoryAnim 1.5s alternate;
                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                }
                &::after {
                    height: 300%;
                    background-color: var(--bg-color);
                    -webkit-transition: height 0.5s ease-in-out;
                    transition: height 0.5s ease-in-out;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-radius: 0 0 50% 50%/0 0 75% 75%;
                }
                &:hover::after {
                    height: 0;
                }
                a {
                    @include flex(row, nowrap, center, space-evenly);
                    padding: 0 1rem;
                    min-height: 50px;
                    overflow: hidden;
                    img {
                        object-fit: scale-down;
                        width: auto;
                        max-width: 30px;
                        max-height: 30px;
                    }
                    p {
                        @include text(
                            GTWalsheimPro,
                            14px,
                            1.2,
                            500,
                            $prussianblue
                        );
                        margin-left: 1rem;
                    }
                }
            }
        }
        form {
            .form-group {
                @include flex(row, wrap, center, center);
                margin-bottom: 1.2rem;
                position: relative;
            }
            .form-control {
                max-width: 300px;
                font-family: GTWalsheimPro;
                font-size: 16px;
                line-height: 1.2;
                font-weight: normal;
                color: #00395d;
            }
            label {
                @include flex(row, nowrap, center, space-between);
                font-family: GTWalsheimPro;
                font-size: 16px;
                line-height: 1.2;
                font-weight: normal;
                color: #00395d;
                width: 100%;
            }
            button {
                font-family: GTWalsheimPro;
                font-size: 16px;
                line-height: 1.2;
                font-weight: normal;
                color: white;
                border-radius: 10px;
                background-color: #0c76e3;
                max-width: 212px;
                border: none;
                height: 50px;
                outline: none;
                width: 100%;
            }
            a {
                font-family: GTWalsheimPro;
                font-size: 16px;
                line-height: 1.2;
                font-weight: normal;
                color: #00395d;
                text-align: center;
            }
            .text-danger {
                bottom: 100%;
                right: 0;
                font-family: GTWalsheimPro;
                font-size: 12.5px;
                line-height: 1.2;
                font-weight: bold;
                position: absolute;
            }
        }
    }
}
.swal2-popup.swal2-toast .swal2-title {
    font-family: GTWalsheimPro;
}
#authorizationModal,
#registrationModal,
#passwordResetModal {
    .modal-body {
        padding: 1rem 2rem;
    }
}
.modal {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
    }
}
.swal2-content {
    form {
        textarea {
            font-size: 14px;
            font-family: "GTWalsheimPro";
            color: #323232;
            line-height: 1.2;
            width: 100%;
            position: relative;
            margin-top: 1rem;
            border-style: solid;
            border-width: 2px;
            border-color: #e3e4eb;
            border-radius: 4px;
            width: 100%;
            height: 84px;
            resize: none;
            margin-top: 0.5rem;
            color: #222222;
            padding-left: 1rem;
        }
        .form-control {
            font-family: GTWalsheimPro;
            font-size: 16px;
            line-height: 1.2;
            font-weight: normal;
            color: #00395d;
        }
        label {
            font-family: GTWalsheimPro;
            font-size: 16px;
            line-height: 1.2;
            font-weight: normal;
            color: #00395d;
            width: 100%;
        }
    }
}
@media (max-width: 767px) {
    #registrationModal,
    #authorizationModal,
    #passwordResetModal {
        overflow-y: scroll;
    }
    #catalogModal .modal-body form label,
    #authorizationModal .modal-body form label,
    #registrationModal .modal-body form label,
    #passwordResetModal .modal-body form label {
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #catalogModal {
        .modal-dialog {
            max-width: calc(100% - 5rem);
        }
    }
}
