<template>
    <div class="form-group col-md-12">
        <input type="text" v-bind="$attrs" @input="updateValue" v-on="listeners" class="form-control" :name="name">
    </div>
</template>

<script>
export default {
    props: ['name'],
    inheritAttrs: false,
    methods: {
        updateValue(e) {
            this.$emit("input", e.target.value);
        },
    },
    computed: {
        listeners() {
            return {
                ...this.$listeners,
                input: this.updateValue
            };
        }
    }
}
</script>