<template>
    <div class="form-group col-md-12">
        <select v-bind="$attrs" v-on="$listeners" @change="updateValue" class="form-control" :name="name">
            <option value="">Выберите атрибут</option>
            <option v-for="option in options" :key="option.name" :value="option.id" :selected="checkSelected(selected, option.id)">{{ option.name }}</option>
        </select>
    </div>
</template>

<script>
export default {
    props: ['options', 'selected', 'name'],
    inheritAttrs: false,
    methods: {
        updateValue(e) {
            this.$emit("input", e.target.value);
        },
        checkSelected(selected, optionId) {
            return selected && selected == optionId;
        }
    }
}
</script>