.breadcrumb {
    background-color: $white;
    margin: 0;
    padding: 0;
    .breadcrumb-item:not(.active) {
        @include text(GTWalsheimPro, 14px, 2.143, 500, $dodgerblue);
    }
    .breadcrumb-item.active {
        @include text(GTWalsheimPro, 14px, 2.143, 500, $prussianblue);
    }
}
