.footer {
    border-top: 2px solid $whisper;
    h2 {
        @include text(GTWalsheimPro, 25px, 1.2, bold, $prussianblue);
    }
    ul {
        margin-top: 1rem;
        padding: 0;
        list-style: none;
        li {
            a {
                @include text(GTWalsheimPro, 16px, 1.875, normal, $oslogrey);
            }
        }
    }
    ol {
        @include flex(row, wrap, flex-start, flex-start);
        list-style: none;
        padding: 0;
        li {
            &:nth-child(n + 2) {
                margin-left: 4rem;
            }
            a {
                @include text(GTWalsheimPro, 18px, 1.2, bold, $arsenic);

                position: relative;
                padding-left: 2rem;
                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &[href^="http"]::before {
                    content: url("/images/header/whatsapp.png");
                }
                &[href^="tel"]::before {
                    content: url("/images/header/phone.png");
                }
            }
        }
    }
    p {
        @include text(GTWalsheimPro, 16px, 1.2, normal, $oslogrey);
        @include flex(row, wrap, center, flex-start);
        margin: 1.5rem 0;
        a {
            display: contents;
        }
        img {
            object-fit: contain;
            width: auto;
            max-width: 100%;
            margin-left: 1rem;
        }
    }
    h1 {
        @include text(GTWalsheimPro, 25px, 1.2, bold, $white);
    }
    .contact-us {
        @include flex(row, nowrap, center, center);
        @include text(GTWalsheimPro, 25px, 1.2, normal, $white);
        border-radius: 10px;
        border: none;
        max-width: 209px;
        height: 50px;
        width: 100%;
        text-decoration: none;
        background-color: $dodgerblue;
    }
    button {
        @include text(GTWalsheimPro, 25px, 1.2, normal, $white);
        border-radius: 10px;
        border: none;
        max-width: 209px;
        height: 50px;
        width: 100%;
        background-color: $oldrose;
    }
}
@media (max-width: 767px) {
    .footer h2 {
        font-size: 23px;
    }
    .footer ol {
        flex-direction: column;
    }
    .footer ol li:nth-child(n + 2) {
        margin-left: 0;
    }
}
