#reset_container {
    h1 {
        @include text(GTWalsheimPro, 35px, 1.2, bold, $prussianblue);
    }
    .form-control {
        font-family: GTWalsheimPro;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        color: #00395d;
    }
}
