.background-dodgerblue {
    background-color: $dodgerblue !important;
}
.background-prussianblue {
    background-color: $prussianblue !important;
}
.background-azure {
    background-color: $azure !important;
}
.background-picture {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.background-scarlet {
    background-color: $scarlet !important;
}
.background-fruitsalad {
    background-color: $fruitsalad !important;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: inherit;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
    padding-right: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: $navyblue;
    outline: 1px solid $navyblue;
    border-radius: 14px;
    transition: all 0.3s ease;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: $dodgerblue;
    outline: 1px solid $dodgerblue;
}
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #007eff;

    position: fixed;
    z-index: 100000000000000;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #007eff, 0 0 5px #007eff;
    opacity: 1;
    z-index: 100000000000000;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 100000000000000;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #007eff;
    border-left-color: #007eff;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.header {
    @media (max-width: 768px) {
        position: fixed;
        z-index: 1024;
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -ms-transform-transform: translateY(0%);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        &.header-unstick {
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -ms-transform-transform: translateY(-100%);
        }
    }
    .logo {
        display: contents;
        img {
            object-fit: none;
            width: 100%;
        }
    }
    .main-nav {
        height: 100%;
        ul {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            list-style: none;
            padding: 0;
            li.catalog-li {
                display: none;
            }
            li {
                a {
                    @include text(GTWalsheimPro, 16px, 1.2, normal, $arsenic);
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        height: 5%;
                        width: 0%;
                        background: $arsenic;
                        z-index: -1;
                        transition: all 0.3s ease;
                    }
                    &:hover::before {
                        content: "";
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    ol {
        @include flex(column, nowrap, flex-start, space-evenly);
        height: 100%;
        list-style: none;
        padding: 0;
        li {
            a {
                @include text(GTWalsheimPro, 18px, 1.2, bold, $arsenic);
                position: relative;
                padding-left: 0.9rem;
                white-space: nowrap;
                &::before {
                    position: absolute;
                    right: 95%;
                    top: 0;
                }
                &[href^="http"]::before {
                    content: url("/images/header/whatsapp.png");
                }
                &[href^="tel"]::before {
                    content: url("/images/header/phone.png");
                }
            }
        }
    }
    .feedback-btn {
        @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
        align-self: center;
        border-radius: 10px;
        background-color: $navyblue;
        width: 100%;
        height: 50px;
        border: none;
    }
    .inventory {
        @include flex(row, nowrap, center, space-evenly);
        background-color: $navyblue;
        min-height: 60px;
        .navbar-toggler {
            outline: none;
            i {
                font-size: 25px;
                color: $white;
            }
        }
        h2 {
            @include text(GTWalsheimPro, 16px, 1.2, normal, $white);
        }
    }
    form {
        align-self: center;
        position: relative;
        width: 100%;
    }
    .search-btn {
        position: absolute;
        top: 15px;
        left: 1rem;
        line-height: 0;
        padding: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
    }
    .search-field {
        border-radius: 10px;
        background-color: $white;
        width: 100%;
        height: 45px;
        border: none;
        @include text(GTWalsheimPro, 14px, 1.2, normal, $arsenic);
        padding-left: 3rem;
        &::placeholder {
            color: $verylightgrey;
            opacity: 1;
        }
        &::-ms-input-placeholder {
            color: $verylightgrey;
        }

        &::-ms-input-placeholder {
            color: $verylightgrey;
        }
    }
    .search-result {
        position: absolute;
        z-index: 1030;
        top: 80%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        list-style: none;
        box-shadow: 3px 3px 3px -3px rgba(242, 242, 243, 0.78),
            3px 3px 3px -3px rgba(242, 242, 243, 0.78),
            -3px 3px 3px -3px rgba(242, 242, 243, 0.78);
        width: 100%;
        background-color: #fff;
        padding: 0;
        overflow-x: hidden;
        max-height: 300px;
        overflow-y: scroll;
        li {
            padding: 0.75rem 3rem;
            cursor: pointer;
            transition: all 0.3s ease;
            a {
                @include flex(row, nowrap, center, space-between);
                font-family: GTWalsheimPro;
                font-size: 14px;
                line-height: 1.2;
                font-weight: normal;
                color: #46494b;
                text-decoration: none;
            }
            img {
                max-width: 50px;
            }
            &:hover {
                background-color: rgba(242, 242, 243, 0.78);
            }
        }
    }
    .minor-nav {
        height: 100%;
        ul {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            list-style: none;
            padding: 0;
            li {
                a {
                    @include flex(row, nowrap, center, space-between);
                }
                position: relative;

                &:hover .dropdown-menu {
                    display: block;
                }
                .dropdown-item {
                    @include text(GTWalsheimPro, 13px, 2.3, normal, $arsenic);
                }
                .dropdown-menu {
                    min-width: 5rem;
                }
                img {
                    object-fit: none;
                }
                p {
                    @include text(GTWalsheimPro, 13px, 2.3, normal, $white);
                    padding-left: 0.75rem;
                    span {
                        display: inline-block;
                        padding-left: 0.3rem;
                    }
                }
            }
        }
    }
}
.hc-offcanvas-nav h2 {
    font-family: GTWalsheimPro;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem;
}
.hc-offcanvas-nav .nav-item {
    font-family: GTWalsheimPro;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
    background: rgb(0, 126, 255);
}
.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
    background: rgb(0, 126, 255);
}
.hc-offcanvas-nav:not(.touch-device) li:not(.custom-content) a:hover,
.hc-offcanvas-nav li.nav-back a:hover,
.hc-offcanvas-nav li.nav-close a:hover {
    background: unset;
}
.hc-offcanvas-nav li.nav-back a,
.hc-offcanvas-nav li.nav-close a {
    background: unset;
    border-top: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
    .header {
        .main-nav {
            ul {
                li.catalog-li {
                    display: block;
                }
            }
        }
        ol,
        .feedback-btn,
        .inventory {
            display: none;
        }
        form {
            margin: 1rem 0;
        }
        .minor-nav {
            padding-bottom: 1rem;
        }
    }
    .hc-nav-trigger {
        z-index: 100;
    }
    .hc-nav-trigger.hc-nav-1 {
        position: relative;
        margin-left: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (max-width: 992px) {
    .header .minor-nav ul li p:not(#goods-value) {
        display: none;
    }
}
