<template>
  <div class="container py-4">
    <div class="row">
      <template v-if="favorites.length">
        <div
          class="col-lg-4 col-md-6 col-sm-6 mt-4"
          v-for="(favorite, index) in favorites"
          :key="index"
        >
          <div class="favorite-card">
            <div class="favorite-header">
              <a :href="`/favorites/${favorite.slug}`">
                <span class="tag" v-if="favorite.discount">
                  -{{
                  Math.ceil(
                  100 -
                  (favorite.discount * 100) /
                  favorite.price
                  )
                  }}%
                </span>
                <img :src="`/storage/${favorite.thumbnail}`" />
                <i
                  data-v-e7ab8a3c
                  @click="removeFavorite"
                  :favorite-id="favorite.id"
                  class="fal fa-times"
                ></i>
              </a>
            </div>
            <div class="favorite-body p-3">
              <p>{{ favorite.name }}</p>
              <div class="d-flex align-items-center justify-content-between mt-3 mb-4">
                <span class="vendore-code">Штрих код {{ favorite.sku }}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="price">
                    {{
                    favorite.price
                    ? (
                    favorite.price * 1
                    ).toLocaleString()
                    : (
                    favorite.old_price * 1
                    ).toLocaleString()
                    }}
                    <span>тг</span>
                  </p>
                  <p
                    class="old-price"
                    v-if="
                                            favorite.old_price > favorite.price
                                        "
                  >
                    {{
                    (
                    favorite.old_price * 1
                    ).toLocaleString()
                    }}
                    <span>тг</span>
                  </p>
                </div>
                <button
                  type="button"
                  :class="[
                                        favorite.in_stock
                                            ? 'cart-btn'
                                            : 'cart-btn empty'
                                    ]"
                  :in-stock="favorite.in_stock"
                  :product-id="favorite.id"
                  :product-price="
                                        favorite.price
                                            ? favorite.price
                                            : favorite.old_price
                                    "
                  @click="addToCart"
                >
                  <img :src="`/images/header/cart.png`" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <h2>Избранных товаров нет!</h2>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import CabinetService from "../services/CabinetService";
import Swal from "sweetalert2";
const goodsValue = document.getElementById("goods-value");
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      favorites: "favorites",
    }),
  },
  methods: {
    removeFavorite(e) {
      e.preventDefault();
      this.$store.dispatch(
        "removeFavorite",
        e.target.getAttribute("favorite-id")
      );
    },
    addToCart(e) {
      let data = [];
      data.push({
        quantity: {
          product_id: e.target.getAttribute("product-id"),
          amount: 1,
        },
        id: e.target.getAttribute("product-id"),
      });
      if (parseInt(e.target.getAttribute("in-stock"))) {
        if (localStorage.getItem("products") == null) {
          localStorage.setItem("products", JSON.stringify(data));
          Toast.fire({
            icon: "success",
            title: "Товар добавлен в корзину",
          });

          if (localStorage.getItem("totalPrice") == null) {
            localStorage.setItem(
              "totalPrice",
              parseInt(e.target.getAttribute("product-price"))
            );
          } else {
            localStorage.setItem(
              "totalPrice",
              parseInt(e.target.getAttribute("product-price")) +
                parseInt(localStorage.getItem("totalPrice"))
            );
          }
          goodsValue.innerHTML = `${localStorage.getItem("totalPrice")} тг`;
        } else {
          let index = JSON.parse(localStorage.getItem("products")).findIndex(
            (object) => object.id == e.target.getAttribute("product-id")
          );
          if (index == -1) {
            let basketStorage = JSON.parse(localStorage.getItem("products"));
            basketStorage.push({
              quantity: {
                product_id: e.target.getAttribute("product-id"),
                amount: 1,
              },
              id: e.target.getAttribute("product-id"),
            });
            localStorage.setItem("products", JSON.stringify(basketStorage));
            Toast.fire({
              icon: "success",
              title: "Товар добавлен в корзину",
            });

            if (localStorage.getItem("totalPrice") == null) {
              localStorage.setItem(
                "totalPrice",
                parseInt(e.target.getAttribute("product-price"))
              );
            } else {
              localStorage.setItem(
                "totalPrice",
                parseInt(e.target.getAttribute("product-price")) +
                  parseInt(localStorage.getItem("totalPrice"))
              );
            }
            goodsValue.innerHTML = `${localStorage.getItem("totalPrice")} тг`;
          } else {
            Toast.fire({
              icon: "warning",
              title: "Товар добавлен",
            });
          }
        }
      } else {
        Toast.fire({
          icon: "warning",
          title: "Товара нет в наличии",
        });
      }
    },
  },
  created() {
    if (!this.favorites.length) {
      this.$store.dispatch("fetchFavorites");
    }
  },
};
</script>

<style lang="scss" scoped>
.cart-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(0, 126, 255);
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 126, 255, 0.48);
    transform: scale(1.02);
  }
  img {
    pointer-events: none;
  }
}
.favorite-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  border: 2px solid rgb(245, 245, 245);
  height: 100%;
}
.favorite-header {
  position: relative;
  .tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: GTWalsheimPro;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(255, 39, 3);
    position: absolute;
    width: 52px;
    height: 25px;
    top: 1rem;
    left: 1rem;
  }
  .fa-times {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(170, 170, 170);
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1rem;
    right: 1rem;
  }
  a {
    display: contents;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: scale-down;
  }
}
.favorite-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  p {
    font-family: GTWalsheimPro;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: rgb(70, 73, 75);
  }
  .vendore-code {
    font-family: GTWalsheimPro;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: rgb(167, 172, 176);
    max-width: 120px;
  }
  .price {
    font-family: GTWalsheimPro;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: rgb(0, 57, 93);
    span {
      padding-left: 0.3rem;
      display: inline-block;
    }
  }
  .old-price {
    font-family: GTWalsheimPro;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: rgb(167, 172, 176);
    text-decoration: line-through;
  }
}
</style>
