<template>
    <div class="container py-4">
        <div class="row">
            <div class="col-4">
                <h2>№ заказа</h2>
            </div>
            <div class="col-4">
                <h2>Дата</h2>
            </div>
            <div class="col-4">
                <h2>Статус</h2>
            </div>
        </div>
        <template v-if="orders.length">
            <b-card
                no-body
                class="my-3"
                v-for="(order, index) in orders"
                :key="index"
            >
                <b-card-header header-tag="div" role="tab" class="p-0">
                    <div
                        @click="getOrderProducts($event)"
                        :order-id="order.id"
                        v-b-toggle="`accordion-${index}`"
                        class="row py-3"
                    >
                        <div class="col-4" style="pointer-events: none">
                            <p>{{ order.id }}</p>
                        </div>
                        <div class="col-4" style="pointer-events: none">
                            <p>
                                {{
                                    new Date(order.created_at).getDate() +
                                        "." +
                                        (new Date(order.created_at).getMonth() <
                                        10
                                            ? "0"
                                            : "") +
                                        (new Date(order.created_at).getMonth() +
                                            1) +
                                        "." +
                                        (new Date(order.created_at).getYear() +
                                            1900)
                                }}
                            </p>
                        </div>
                        <div class="col-4" style="pointer-events: none">
                            <p :style="`color: ${order.order_status.color}`">
                                {{ order.order_status.name }}
                            </p>
                            {{ orderProducts[index] }}
                        </div>
                    </div>
                </b-card-header>
                <b-collapse :id="`accordion-${index}`" role="tabpanel">
                    <b-card-body>
                        <div
                            class="row py-3"
                            v-for="(product, index) in orderProducts[order.id]"
                            :key="index"
                        >
                            <a
                                :href="`products/${product.slug}`"
                                style="display: contents"
                            >
                                <div class="col-lg-3 border-right">
                                    <img
                                        :src="`/storage/${product.thumbnail}`"
                                    />
                                </div>
                                <div class="col-lg-3 border-right">
                                    <p class="name">{{ product.name }}</p>
                                </div>
                                <div class="col-lg-3 border-right">
                                    <p class="price">
                                        {{
                                            (
                                                product.unit_price * 1
                                            ).toLocaleString()
                                        }}
                                        тг
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <p class="quantity">
                                        {{ product.unit_quantity }} шт
                                    </p>
                                </div>
                            </a>
                        </div>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </template>
    </div>
</template>

<script>
import { mapState } from "vuex";
import {
    BCollapse,
    BCard,
    BButton,
    BCardHeader,
    BCardBody,
    BNavbarToggle
} from "bootstrap-vue";
export default {
    data() {
        return {};
    },
    components: {
        "b-collapse": BCollapse,
        "b-card": BCard,
        "b-button": BButton,
        "b-card-header": BCardHeader,
        "b-card-body": BCardBody
    },
    computed: {
        ...mapState({
            orders: "orders",
            orderProducts: "orderProducts"
        })
    },
    methods: {
        getOrderProducts(e) {
            this.$store.dispatch(
                "fetchOrderProducts",
                e.target.getAttribute("order-id")
            );
        }
    },
    created() {
        if (!this.orders.length) {
            this.$store.dispatch("fetchOrders");
        }
    }
};
</script>

<style lang="scss" scoped>
h2 {
    font-size: 18px;
    font-family: "GTWalsheimPro";
    color: #25252d;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
}
p {
    font-size: 16px;
    font-family: "GTWalsheimPro";
    color: #25252d;
    line-height: 1;
    text-align: center;
}
.card {
    border-width: 1px;
    border-color: #ebebeb;
    border-style: solid;
}
.card-header {
    cursor: pointer;
}
.card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
</style>
