<template>
  <div class="container py-4">
    <form @submit.prevent="putData" class="row">
      <div class="col-lg-6 col-md-5 col-12 order-1 order-md-0 mt-5 mt-md-0">
        <div class="form-group">
          <label>
            Имя
            <input
              type="text"
              name="name"
              placeholder="Владислав"
              v-model="userData.name"
              @blur="$v.userData.name.$touch()"
            />
          </label>
          <template v-if="$v.userData.name.$error">
            <p v-if="!$v.userData.name.required" class="text-danger">Имя обязательно к заполнению</p>
          </template>
        </div>
        <div class="form-group">
          <label>
            Фамилия
            <input
              type="text"
              name="surname"
              placeholder="Зайцев"
              v-model="userData.surname"
              @blur="$v.userData.surname.$touch()"
            />
          </label>
          <template v-if="$v.userData.surname.$error">
            <p
              v-if="!$v.userData.surname.required"
              class="text-danger"
            >Фамилия обязательно к заполнению</p>
          </template>
        </div>
        <div class="form-group">
          <label>
            Пол
            <b-form-radio-group
              :options="options"
              plain
              name="sex"
              class="sex"
              v-model="userData.sex"
            ></b-form-radio-group>
          </label>
        </div>
        <div class="form-group">
          <label>Дата рождения</label>
          <v-date-picker v-model="userData.birthday" class="datepicker" />
        </div>
        <div class="form-group">
          <label>
            Телефон
            <input
              type="tel"
              name="phone"
              placeholder="+7 (___) ___-__-__"
              autocomplete="off"
              v-model="userData.phone"
              @blur="$v.userData.phone.$touch()"
            />
          </label>
          <template v-if="$v.userData.phone.$error">
            <p
              v-if="!$v.userData.phone.required"
              class="text-danger"
            >Телефон обязателен к заполнению</p>
          </template>
        </div>
        <div class="form-group">
          <label>
            E-mail
            <input
              type="email"
              name="email"
              placeholder="info@morskoyurogai.com"
              v-model="userData.email"
              @blur="$v.userData.email.$touch()"
              autocomplete="off"
            />
          </label>
          <template v-if="$v.userData.email.$error">
            <p v-if="!$v.userData.email.required" class="text-danger">E-mail обязателен к заполнению</p>
          </template>
        </div>
        <div class="form-group">
          <label>
            Пароль
            <input type="password" name="password" autocomplete="off" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Подтверждение пароля
            <input type="password" name="password_confirmation" />
          </label>
        </div>
        <div class="form-group" v-for="(address, index) in userData.addresses" :key="index">
          <label class="d-flex align-items-center justify-content-between">
            Адрес
            <input
              type="radio"
              :value="index"
              name="is_active"
              :checked="address.is_active == 1 ? 'true' : ''"
              @change="setActiveAddress(index)"
            />
          </label>
          <input type="text" name="street" placeholder="Улица" v-model="address.street" />
          <input type="text" name="porch" placeholder="Подъезд" v-model="address.porch" />
          <input
            type="text"
            name="house_building"
            placeholder="Корпус"
            v-model="address.house_building"
          />
          <div class="address-group">
            <input type="text" name="house" placeholder="Дом" v-model="address.house" />
            <input type="text" name="office" placeholder="Офис" v-model="address.office" />
            <input type="text" name="apartments" placeholder="Кв-ра" v-model="address.apartments" />
            <input type="text" name="floor" placeholder="Этаж" v-model="address.floor" />
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button type="button" class="add-address" @click="addAddress">Добавить адрес</button>
          <button
            type="button"
            class="remove-address"
            @click="removeAddress"
            v-if="
                            userData.addresses
                                ? userData.addresses.length > 1
                                : 0
                        "
          >Удалить адрес</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-12">
        <h2>Изображение профиля</h2>
        <div class="d-flex justify-content-between align-items-start">
          <img id="user-avatar" :src="`/storage/${userData.avatar}`" />
          <div class="form-group avatar-group">
            <label class="file">
              Выберите файл
              <input type="file" name="avatar" @change="onFileChange" />
            </label>
            <button :disabled="$v.$anyError" type="submit">Сохранить</button>
          </div>
        </div>
        <a href="#" @click.prevent="removeImageSrc">Удалить</a>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import NProgress from "nprogress";
import { mapState } from "vuex";
import CabinetService from "../services/CabinetService.js";
import { BFormRadioGroup } from "bootstrap-vue";
import DatePicker from "v-calendar/lib/components/date-picker.umd";
export default {
  data() {
    return {
      options: [
        { text: "Мужской", value: 1 },
        { text: "Женский", value: 0 },
      ],
      is_active: null,
    };
  },
  components: {
    "b-form-radio-group": BFormRadioGroup,
    "v-date-picker": DatePicker,
  },
  validations: {
    userData: {
      name: {
        required,
      },
      surname: {
        required,
      },
      phone: {
        required,
      },
      email: {
        required,
      },
    },
  },
  methods: {
    setActiveAddress(index) {
      this.is_active = index;
    },
    addAddress() {
      this.userData.addresses.push({
        street: "",
        porch: "",
        house_building: "",
        house: "",
        office: "",
        apartments: "",
        floor: "",
      });
    },
    removeAddress() {
      this.userData.addresses.pop();
    },
    putData() {
      let data = new FormData();
      for (const key in this.userData) {
        if (key == "avatar") {
          if (typeof this.userData[key] != "string") {
            data.append(key, this.userData[key]);
          }
        } else if (key == "birthday") {
          if (typeof this.userData[key] != "string") {
            const dateFormatted = `${this.userData[key].getYear() + 1900}-${
              this.userData[key].getMonth() < 10 ? "0" : ""
            }${this.userData[key].getMonth() + 1}-${this.userData[
              key
            ].getDate()}`;
            data.append(key, dateFormatted);
          }
        } else if (key == "addresses") {
          for (let index = 0; index < this.userData[key].length; index++) {
            for (const item in this.userData[key][0]) {
              if (item != "is_active") {
                data.append(
                  `${key}[${index}][${item}]`,
                  this.userData[key][index][item]
                );
              } else {
                if (!data.has("is_active") && this.is_active != null) {
                  data.append("is_active", this.is_active);
                }
              }
            }
          }
        } else {
          data.append(key, this.userData[key]);
        }
      }
      data.append("_method", "PUT");
      this.$v.$touch();

      if (!this.$v.$invalid) {
        CabinetService.putData(data)
          .then((response) => {})
          .catch((error) => {
            if (error.response.status === 422) {
              for (const key of data.entries()) {
                if (document.querySelector(`[error-msg="${key[0]}"]`)) {
                  document.querySelector(`[error-msg="${key[0]}"]`).innerText =
                    "";
                }
              }
              for (const err in error.response.data.errors) {
                if (data.has(err)) {
                  document.querySelector(`[error-msg="${err}"]`).innerText =
                    error.response.data.errors[err];
                }
              }
            }
            NProgress.done();
          });
      }
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.userData.avatar = files[0];
      this.setImageSrc(files[0]);
    },
    setImageSrc(file) {
      var reader = new FileReader();

      reader.onload = (e) => {
        document.getElementById("user-avatar").src = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImageSrc() {
      document.getElementById("user-avatar").src = "";
    },
  },
  computed: {
    ...mapState({
      userData: "userData",
    }),
  },
  created() {
    if (!Object.keys(this.userData).length) {
      this.$store.dispatch("fetchData");
    }
  },
};
</script>

<style lang="scss" scoped>
a {
  font-size: 16px;
  font-family: "GTWalsheimPro";
  color: rgb(0, 57, 93);
  line-height: 1.2;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  &:before {
    content: "\f2ed";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    margin-right: 0.8rem;
    font-size: 18px;
  }
}
h2 {
  font-size: 18px;
  font-family: "GTWalsheimPro";
  color: rgb(0, 57, 93);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
img {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 190px;
  object-fit: cover;
}
label {
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(50, 50, 50);
  line-height: 1.2;
  width: 100%;
}
form {
  flex: 0 0 44%;
}
label.file {
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 10px;
  background-color: rgb(255, 150, 13);
  max-width: 180px;
  width: 100%;
  height: 41px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
input:not([type="file"]):not([type="radio"]) {
  padding: 0 12px;
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(50, 50, 50);
  line-height: 1.2;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(227, 228, 235);
  border-radius: 4px;
  height: 36px;
  margin-top: 0.5rem;
  &:-ms-input-placeholder {
    color: rgb(176, 177, 182);
  }
}
input[type="file"] {
  display: none;
}
.address-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  input {
    flex: 0 0 23%;
  }
}
.sex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 65%;
  margin-top: 0.5rem;
  @media (max-width: 992px) {
    max-width: 100%;
  }
}
.form-check-inline {
  margin-right: 0;
}
textarea {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(227, 228, 235);
  border-radius: 4px;
  height: 105px;
  resize: none;
  width: 100%;
  margin-top: 0.5rem;
}
button[type="submit"] {
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 10px;
  background-color: rgb(0, 126, 255);
  max-width: 180px;
  width: 100%;
  height: 41px;
  border: none;
  &[disabled="disabled"] {
    background-color: #e3e4eb;
  }
}
.add-address {
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 10px;
  background-color: rgb(0, 126, 255);
  max-width: 180px;
  width: 100%;
  height: 41px;
  border: none;
}
.remove-address {
  font-size: 14px;
  font-family: "GTWalsheimPro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 10px;
  background-color: #ff2703;
  max-width: 180px;
  width: 100%;
  height: 41px;
  border: none;
}
.avatar-group {
  @media (min-width: 440px) {
    flex: 0 0 44%;
  }
}
.text-danger {
  font-family: GTWalsheimPro;
  font-size: 12.5px;
  line-height: 1.2;
  font-weight: bold;
}
</style>
