<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4 mb-lg-0">
        <div class="router-links">
          <b-card no-body>
            <b-card-header header-tag="div" role="tab">
              <b-button block v-b-toggle.accordion-profile class="background-scarlet">Профиль</b-button>
            </b-card-header>
            <b-collapse id="accordion-profile" visible role="tabpanel">
              <b-card-body>
                <ul>
                  <li>
                    <router-link :to="{ name: 'profile' }">Мои данные</router-link>
                  </li>
                  <li>
                    <a href="javscript:void(0)" @click="logOut">Выйти</a>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body>
            <b-card-header header-tag="div" role="tab">
              <b-button
                block
                v-b-toggle.accordion-orders
                class="background-fruitsalad"
              >Заказы, списки</b-button>
            </b-card-header>
            <b-collapse id="accordion-orders" role="tabpanel">
              <b-card-body>
                <ul>
                  <li>
                    <router-link :to="{ name: 'orders' }">История</router-link>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body>
            <b-card-header header-tag="div" role="tab">
              <router-link :to="{ name: 'favorites' }" style="display: contents">
                <b-button block class="background-dodgerblue">Избранное</b-button>
              </router-link>
            </b-card-header>
          </b-card>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <router-view class="router-view"></router-view>
      </div>
    </div>
  </div>
</template>
<script>
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
  BNavbarToggle
} from "bootstrap-vue";
import CabinetService from "../services/CabinetService.js";
export default {
  methods: {
    logOut() {
      CabinetService.logOut().then(() => {
        localStorage.removeItem("token");
        window.location.replace("/");
      });
    }
  },
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody
  }
};
</script>
<style lang="scss" scope>
.router-view {
  border-radius: 10px;
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
  background-color: rgb(255, 255, 255);
}
.router-links {
  position: sticky;
  top: 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
}
</style>
