<template>
  <div class="container">
    <div class="row">
      <template v-if="!is_empty">
        <div class="col-lg-12 pb-5" v-for="(product, index) in products" :key="index">
          <div class="cart-item row align-items-center">
            <div class="col-lg-1 col-3">
              <img :src="`/storage/${product.thumbnail}`" />
            </div>
            <div class="col-lg-2 col-4">
              <span class="vendore-code">Артикул {{ product.sku }}</span>
              <p class="name">{{ product.name }}</p>
            </div>
            <div class="offset-lg-1"></div>
            <div class="col-lg-2 col-4">
              <p class="price">
                {{ (product.price * 1).toLocaleString() }} тг{{
                product.is_weighted ? "/кг" : "/шт"
                }}
              </p>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
              <div class="quantity">
                <button
                  type="button"
                  class="decrease"
                  @click="
                        product.is_weighted
                            ? product.q > 0.1
                                ? (product.q = (
                                      +product.q - 0.1
                                  ).toFixed(1))
                                : false
                            : product.q > 1
                            ? product.q--
                            : false;
                        amountCount(
                            $event,
                            product.price,
                            product.id,
                            product.q,
                            product.is_weighted
                        );
                    "
                >-</button>
                <input disabled v-model="product.q" name="count" type="number" />
                <button
                  type="button"
                  class="increase"
                  @click="
                                        product.is_weighted
                                            ? product.q < 20
                                                ? (product.q = (
                                                      +product.q + 0.1
                                                  ).toFixed(1))
                                                : false
                                            : product.q++;
                                        amountCount(
                                            $event,
                                            product.price,
                                            product.id,
                                            product.q,
                                            product.is_weighted
                                        );
                                    "
                >+</button>
              </div>
            </div>
            <div class="col-lg-2 col-4">
              <p class="sum">
                {{
                (product.price * product.q).toLocaleString()
                }}
                тг
              </p>
            </div>
            <div class="col-lg-2 col-2">
              <i :product-id="product.id" @click="removeProduct" class="fal fa-times"></i>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="col-12 d-flex justify-content-center">
          <h2>Ваша корзина пуста!</h2>
        </div>
      </template>
    </div>
    <form @submit.prevent="checkout" v-if="products.length">
      <div class="row">
        <div class="col-lg-5 col-sm-7 col-12 order-1 order-sm-0">
          <div class="promocode">
            <p class="text-danger" error-msg="promocode"></p>
            <input type="text" name="promocode" placeholder="Код купона" />
            <button type="button" @click="checkPromocode">Применить</button>
          </div>
        </div>
        <div class="offset-lg-4"></div>
        <div class="col-lg-3 col-sm-5 col-12 d-flex justify-content-center d-sm-block mb-4 mb-sm-0">
          <button class="clear" type="button" @click="clearCart">Очистить корзину</button>
        </div>
      </div>
      <div class="row my-5 order-form">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-group">
            <h2>Способ доставки</h2>
            <b-form-radio-group
              :options="deliveryTypes"
              name="delivery_type"
              class="mt-3 payment-btns"
              plain
              stacked
              @change="setDeliveryAddress"
            ></b-form-radio-group>
            <p class="text-danger" error-msg="delivery_type"></p>
          </div>
          <div class="form-group">
            <h2>Способ оплаты</h2>
            <b-form-radio-group
              :options="paymentTypes"
              name="payment_type"
              class="mt-3 payment-btns"
              plain
              stacked
            ></b-form-radio-group>
            <p class="text-danger" error-msg="payment_type"></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div style="display: contents;" v-if="deliveryAddr">
            <div class="form-group">
              <h2>Адрес доставки</h2>
              <label>
                <p class="text-danger" error-msg="email"></p>
                <input type="text" name="email" placeholder="E-mail" v-model="userData.email" />
              </label>
              <label>
                <p class="text-danger" error-msg="phone"></p>
                <input type="text" name="phone" placeholder="Телефон" v-model="userData.phone" />
              </label>
              <label>
                <p class="text-danger" error-msg="street"></p>
                <input
                  type="text"
                  :value="
                                        address.street ? address.street : ''
                                    "
                  name="street"
                  placeholder="Улица"
                />
              </label>
              <label>
                <p class="text-danger" error-msg="house"></p>
                <input
                  type="text"
                  :value="address.house ? address.house : ''"
                  name="house"
                  placeholder="Дом"
                />
              </label>
              <label>
                <input
                  type="text"
                  :value="
                                        address.apartments
                                            ? address.apartments
                                            : ''
                                    "
                  name="apartments"
                  placeholder="Кв-ра"
                />
              </label>
              <div class="address-group">
                <input
                  type="text"
                  :value="address.porch ? address.porch : ''"
                  name="porch"
                  placeholder="Подъезд"
                />
                <input
                  type="text"
                  :value="
                                        address.office ? address.office : ''
                                    "
                  name="office"
                  placeholder="Офис"
                />
                <input
                  type="text"
                  :value="
                                        address.house_building
                                            ? address.house_building
                                            : ''
                                    "
                  name="house_building"
                  placeholder="Корпус"
                />
                <input
                  type="text"
                  :value="address.floor ? address.floor : ''"
                  name="floor"
                  placeholder="Этаж"
                />
              </div>
            </div>
            <div class="form-group">
              <label>
                Комментарий к заказу
                <textarea name="comment"></textarea>
              </label>
            </div>
            <div class="form-group">
              <label>
                Время доставки
                <p class="text-danger" error-msg="deliver_at"></p>
              </label>
              <datetime type="datetime" name="deliver_at" :min-datetime="min" v-model="deliver_at"></datetime>
            </div>
            <div class="form-group">
              <label>
                Заказ будет доставлен в течении двух
                часов
              </label>
            </div>
          </div>
          <div style="display: contents" v-if="pickupAddr">
            <div class="form-group">
              <h2>Адреса выдачи</h2>
              <label v-for="(pickpoint, index) in pickpoints" :key="index" class="pickpoint">
                <p class="text-danger" error-msg="pickpoint"></p>
                <input type="radio" name="pickpoint" :value="pickpoint.id" />
                <span>
                  {{ pickpoint.address }},
                  {{ pickpoint.worktime }}
                </span>
              </label>
              <label>
                <p class="text-danger" error-msg="email"></p>
                <input type="text" name="email" placeholder="E-mail" v-model="userData.email" />
              </label>
              <label>
                <p class="text-danger" error-msg="phone"></p>
                <input type="text" name="phone" placeholder="Телефон" v-model="userData.phone" />
              </label>
              <label>
                Комментарий к заказу
                <textarea name="comment"></textarea>
              </label>
              <label>
                Время выдачи
                <p class="text-danger" error-msg="deliver_at"></p>
              </label>
              <datetime type="datetime" name="deliver_at" :min-datetime="min" v-model="deliver_at"></datetime>
              <label>Заказ будет выдан в течении двух часов</label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-12">
          <div class="form-group">
            <h2>Сумма заказа</h2>
            <div class="border-bottom my-3"></div>
            <div class="total">
              <h4>Итого:</h4>
              <p>{{ totalPrice.toLocaleString() }} тг</p>
            </div>
            <div class="border-bottom my-3"></div>
            <div class="quantity">
              <h4>Всего товаров:</h4>
              <p>{{ quantity }}</p>
            </div>
            <div class="border-bottom my-3"></div>
            <button type="submit">Оформить заказ</button>
            <div class="border-bottom my-3">
              <p>Минимальная сумма заказа 5 000 тенге</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { BFormRadioGroup } from "bootstrap-vue";
import { Datetime } from "vue-datetime";
var moment = require("moment");
import CartService from "../services/CartService.js";
import NProgress from "nprogress";
import Swal from "sweetalert2";
const goodsValue = document.getElementById("goods-value");
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      discount_percentage: null,
      deliveryAddr: false,
      pickupAddr: false,
      deliver_at: null,
      min: new Date().toISOString(),
    };
  },
  computed: {
    total: {
      get: function () {
        return this.$store.state.total;
      },
      set: function (newTotal) {
        this.$store.commit("SET_TOTAL", newTotal);
      },
    },
    quantity: {
      get: function () {
        return this.$store.state.quantity;
      },
      set: function (newQuantity) {
        this.$store.commit("SET_QUANTITY", newQuantity);
      },
    },
    ...mapState({
      products: "products",
      payments: "payments",
      address: "address",
      delivery: "delivery",
      pickpoints: "pickpoints",
      userData: "userData",
      is_empty: "is_empty",
    }),
    deliveryTypes() {
      let array = [];
      for (const key in this.delivery) {
        array.push({});
        array[key]["text"] = this.delivery[key]["name"];
        array[key]["value"] = this.delivery[key]["id"];
      }
      return array;
    },
    paymentTypes() {
      let array = [];
      for (const key in this.payments) {
        array.push({});
        array[key]["text"] = this.payments[key]["name"];
        array[key]["value"] = this.payments[key]["id"];
      }
      return array;
    },
    totalPrice() {
      if (this.discount_percentage) {
        return this.total * ((100 - this.discount_percentage) / 100);
      }
      return this.total;
    },
  },
  components: {
    "b-form-radio-group": BFormRadioGroup,
    datetime: Datetime,
  },
  methods: {
    setDeliveryAddress(e) {
      if (e == 1) {
        if (!Object.keys(this.userData).length) {
          this.$store.dispatch("fetchUserData");
        }
        if (!Object.keys(this.address).length) {
          this.$store.dispatch("fetchAddress");
        }
        if (!this.deliveryAddr) {
          this.deliveryAddr = true;
        }
        if (this.pickupAddr) {
          this.pickupAddr = false;
        }
      } else if (e == 2) {
        if (!this.pickpoints.length) {
          this.$store.dispatch("fetchPickpoints");
        }
        if (!Object.keys(this.userData).length) {
          this.$store.dispatch("fetchUserData");
        }
        if (this.deliveryAddr) {
          this.deliveryAddr = false;
        }
        if (!this.pickupAddr) {
          this.pickupAddr = true;
        }
      }
    },
    removeProduct(e) {
      this.$store.dispatch(
        "removeProduct",
        e.target.getAttribute("product-id")
      );
    },
    clearCart() {
      this.$store.dispatch("clearCart");
    },
    amountCount: _.debounce(function (e, price, identity, amount, is_weighted) {
      this.$store.dispatch("addCount", {
        id: identity,
        quantity: amount,
      });
    }, 300),
    checkout(e) {
      let data = new FormData(e.target);
      if (!data.has("payment_type")) {
        data.append("payment_type", "");
      }
      if (!data.has("delivery_type")) {
        data.append("delivery_type", "");
      }
      if (!data.has("pickpoint")) {
        data.append("pickpoint", "");
      }
      if (this.deliver_at) {
        data.set(
          "deliver_at",
          moment(this.deliver_at).format("YYYY-DD-MM HH:mm:ss")
        );
      }
      data.append("products", localStorage.getItem("products"));
      CartService.checkout(data)
        .then((response) => {
          if (response.data.payment_url) {
            window.location.replace(response.data.payment_url);
          } else {
            Toast.fire({
              icon: "success",
              title: response.data.message,
            });
            this.$store.commit("CLEAR_PRODUCT");
            goodsValue.innerHTML = `0 тг`;
          }
        })
        .catch((error) => {
          if (error.response.status === 422) {
            for (const key of data.entries()) {
              if (document.querySelector(`[error-msg="${key[0]}"]`)) {
                document.querySelector(`[error-msg="${key[0]}"]`).innerText =
                  "";
              }
            }
            for (const err in error.response.data.errors) {
              if (
                data.has(err) &&
                document.querySelector(`[error-msg="${err}"]`)
              ) {
                document.querySelector(`[error-msg="${err}"]`).innerText =
                  error.response.data.errors[err];
              }
            }
          }
          NProgress.done();
        });
    },
    checkPromocode() {
      let promocode = document.querySelector('input[name="promocode"]').value;
      let err = document.querySelector('[error-msg="promocode"]');
      CartService.checkPromocode(promocode)
        .then((response) => {
          if (response.data.error) {
            err.innerText = response.data.error;
          } else {
            err.innerText = "";
            this.discount_percentage = response.data.discount_percentage;
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            err.innerText = error.response.data.message;
          }
          NProgress.done();
        });
    },
  },
  created() {
    this.$store.dispatch("fetchProducts");
    this.$store.dispatch("fetchPayments");
    this.$store.dispatch("fetchDelivery");
  },
};
</script>

<style lang="scss" scoped>
.cart-item {
  margin: 0;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0;
  max-width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  img {
    width: 80px;
    height: 82px;
    object-fit: contain;
  }
  .vendore-code {
    font-size: 14px;
    font-family: "GTWalsheimPro";
    color: rgb(155, 159, 167);
    line-height: 1.5;
  }
  .name {
    font-size: 16px;
    font-family: "GTWalsheimPro";
    color: rgb(37, 37, 45);
    font-weight: bold;
    line-height: 1.25;
  }
  .price {
    font-size: 21px;
    font-family: "GTWalsheimPro";
    color: rgb(37, 37, 45);
    line-height: 1;
    text-align: center;
  }
  .sum {
    font-size: 21px;
    font-family: "GTWalsheimPro";
    color: rgb(37, 37, 45);
    line-height: 1;
    text-align: center;
  }
  .quantity {
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 28px;
    width: 100%;
    height: 54px;
    overflow: hidden;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    max-width: calc(56px * 3);
    button {
      font-size: 36px;
      font-family: "GTWalsheimPro";
      color: rgb(34, 34, 34);
      line-height: 1;
      background-color: #fff;
      border: none;
      width: 56px;
      height: 100%;
      &:focus,
      &:active {
        background-color: rgb(235, 235, 235);
      }
    }
    input {
      &[disabled] {
        background-color: #fff;
      }
      margin: 0;
      font-size: 24px;
      font-family: "GTWalsheimPro";
      color: rgb(34, 34, 34);
      line-height: 1.5;
      width: 56px;
      height: 100%;
      border: none;
      border-left: 1px solid rgb(235, 235, 235);
      border-right: 1px solid rgb(235, 235, 235);
      text-align: center;
    }
  }
  .fa-times {
    display: block;
    text-align: center;
    color: rgb(170, 170, 170);
    font-size: 17px;
    cursor: pointer;
  }
}
.promocode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .text-danger {
    bottom: 100%;
    left: 0;
    font-family: GTWalsheimPro;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    position: absolute;
  }
  input {
    font-size: 16px;
    font-family: "GTWalsheimPro";
    color: #222222;
    font-weight: bold;
    line-height: 2.25;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    max-width: 250px;
    width: 100%;
    height: 56px;
    border: none;
    padding-left: 1rem;
    &::placeholder {
      color: rgb(153, 153, 153);
    }
  }
  button {
    font-size: 18px;
    font-family: "GTWalsheimPro";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    border-radius: 10px;
    background-color: rgb(0, 126, 255);
    max-width: 188px;
    width: 100%;
    height: 54px;
    border: none;
  }
}
.clear {
  font-size: 18px;
  font-family: "GTWalsheimPro";
  color: rgb(34, 34, 34);
  line-height: 1.667;
  border-radius: 28px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6.37px 0.63px rgba(217, 222, 230, 0.54);
  max-width: 247px;
  width: 100%;
  height: 56px;
  border: none;
}

.order-form {
  .form-group {
    position: relative;
    input {
      font-size: 14px;
      font-family: "GTWalsheimPro";
      color: #222222;
      line-height: 1.2;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(227, 228, 235);
      border-radius: 4px;
      width: 100%;
      height: 36px;
      padding-left: 0.5rem;
      &::placeholder {
        color: rgb(176, 177, 182);
      }
    }
    h2 {
      font-size: 24px;
      font-family: "GTWalsheimPro";
      color: rgb(50, 50, 50);
      font-weight: bold;
      line-height: 1.2;
    }
    label {
      font-size: 14px;
      font-family: "GTWalsheimPro";
      color: rgb(50, 50, 50);
      line-height: 1.2;
      width: 100%;
      position: relative;
      margin-top: 1rem;
    }
    textarea {
      border-style: solid;
      border-width: 2px;
      border-color: rgb(227, 228, 235);
      border-radius: 4px;
      width: 100%;
      height: 84px;
      resize: none;
      margin-top: 0.5rem;
      color: #222222;
      padding-left: 1rem;
      &::placeholder {
        color: rgb(176, 177, 182);
      }
    }
  }
  .address-group {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    input {
      flex: 0 0 23%;
    }
  }
  .total,
  .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 16px;
      font-family: "GTWalsheimPro";
      color: rgb(34, 34, 34);
      line-height: 1.2;
    }
    p {
      font-size: 18px;
      font-family: "GTWalsheimPro";
      color: rgb(34, 34, 34);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
    }
  }
  button[type="submit"] {
    font-size: 18px;
    font-family: "GTWalsheimPro";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    border-radius: 10px;
    background-color: rgb(12, 118, 227);
    max-width: 270px;
    height: 56px;
    width: 100%;
    margin-left: auto;
    border: none;
    display: block;
    margin-top: 3rem;
  }
  .text-danger {
    font-family: GTWalsheimPro;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    position: absolute;
    bottom: 100%;
  }
  .pickpoint {
    margin-top: 0;
    span {
      display: block;
      width: 100%;
      padding: 1rem;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2),
          0 1px 15px 0 rgba(0, 0, 0, 0.19);
      }
    }
    input {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
    }
    input:checked + span {
      transform: scale(1.01);
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2),
        0 1px 15px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
</style>
