<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <h3>Фильтр</h3>
        <form class="filters mt-4" role="tablist" @submit.prevent="applyFilters">
          <b-card no-body style="display: none">
            <b-card-header header-tag="div" role="tab">
              <b-button block v-b-toggle.accordion-price>
                Цена
                <i class="fas fa-sort-down"></i>
              </b-button>
            </b-card-header>
            <b-collapse id="accordion-price" visible role="tabpanel">
              <b-card-body>
                <vue-range-slider
                  ref="slider"
                  v-model="price"
                  :min="0"
                  :max="maxprice"
                  :use-keyboard="false"
                ></vue-range-slider>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body v-for="(filter, index) in filters" :key="index">
            <b-card-header v-if="filter.length > 0" header-tag="div" role="tab">
              <b-button
                block
                v-b-toggle="
                                    `accordion-${index.replace(' ', '')}`
                                "
              >
                {{ index }}
                <i class="fas fa-sort-down"></i>
              </b-button>
            </b-card-header>
            <b-collapse :id="`accordion-${index.replace(' ', '')}`" role="tabpanel">
              <b-card-body>
                <ul>
                  <li v-for="(specification, idx) in filter" :key="idx">
                    <label v-if="!specification.entity && index != 'Категории'">
                      <input
                        type="checkbox"
                        v-model="
                                                params[
                                                    `${specification.slug}`
                                                ]
                                            "
                        :name="`${specification.slug}`"
                        :value="
                                                    `${specification.value}_${specification.dimention_id}`
                                                "
                      />
                      {{
                      specification.value +
                      " " +
                      specification.dimention
                      }}
                    </label>
                    <label v-else-if="specification.entity && index != 'Категории'">
                      <input
                        type="checkbox"
                        :value="specification.value"
                        v-model="
                                                params[
                                                    `${specification.slug}`
                                                ]
                                            "
                        :name="`${specification.slug}`"
                      />
                      {{
                      specification.entity.name
                      }}
                    </label>
                    <label v-else>
                      <input
                        type="checkbox"
                        :value="specification.id"
                        v-model="
                                                params[
                                                    `category`
                                                ]
                                            "
                        :name="`category`"
                      />
                      {{
                      specification.name
                      }}
                    </label>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <button type="submit" class="apply-btn my-4" @click="scrollBottom">Применить</button>
          <div class="d-flex justify-content-center">
            <button type="button" class="reset-btn my-4" @click.prevent="resetFilters">Сбросить</button>
          </div>
        </form>
      </div>
      <div class="col-lg-9 col-md-8 col-12 my-5 my-md-0">
        <ul class="sorting">
          <li>
            <p>Сортировать по:</p>
          </li>
          <li v-for="(sorter, index) in sorters" :key="index">
            <button
              type="button"
              :name="sorter.name"
              :class="[
                                'btn',
                                { active: activeSorter === sorter.name }
                            ]"
              @click="sortProducts"
            >
              <span>{{ sorter.value }}</span>
              <i :class="sorter.icon"></i>
            </button>
          </li>
        </ul>
        <div class="row" ref="products">
          <div
            class="col-lg-4 col-md-6 col-sm-6 mt-4"
            v-for="(product, index) in products"
            :key="index"
          >
            <div class="product-card">
              <div class="product-header">
                <a :href="`/products/${product.slug}`">
                  <span class="tag" v-if="product.price < product.old_price">
                    -{{
                    Math.ceil(
                    100 -
                    (product.price * 100) /
                    product.old_price
                    )
                    }}%
                  </span>
                  <img :src="`/storage/${product.thumbnail}`" />
                </a>
              </div>
              <div class="product-body p-3">
                <p>{{ product.name }}</p>
                <div class="d-flex align-items-center justify-content-between mt-3 mb-4">
                  <span class="vendore-code">Штрих код {{ product.sku }}</span>
                  <div class="star-rating">
                    <label
                      class="star-rating__star"
                      v-for="(rating, index) in ratings"
                      :key="index"
                      :class="{
                                                'is-selected':
                                                    product.rating >= rating &&
                                                    product.rating != null
                                            }"
                    >
                      <i class="fas fa-star"></i>
                    </label>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <p class="price">
                      {{
                      product.price
                      ? (
                      product.price * 1
                      ).toLocaleString()
                      : (
                      product.old_price * 1
                      ).toLocaleString()
                      }}
                      <span>тг</span>
                    </p>
                    <p
                      class="old-price"
                      v-if="
                                                product.price <
                                                    product.old_price
                                            "
                    >
                      {{
                      (
                      product.old_price * 1
                      ).toLocaleString()
                      }}
                      <span>тг</span>
                    </p>
                  </div>
                  <button
                    type="button"
                    :class="[product.in_stock ? 'cart-btn' : 'cart-btn empty']"
                    :in-stock="product.in_stock"
                    :product-id="product.id"
                    :product-price="product.price ? product.price : product.old_price"
                    @click="addToCart"
                  >
                    <img :src="`/images/header/cart.png`" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 d-flex justify-content-center my-5"
            v-if="total - (products ? products.length : 0) > 0"
          >
            <button class="show-more" type="button" @click="showMoreProducts">
              Показать еще
              {{ total - products.length }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import VueRangeSlider from "vue-range-component";
import "vue-range-component/dist/vue-range-slider.css";
import Swal from "sweetalert2";
import CatalogService from "../services/CatalogService.js";
const goodsValue = document.getElementById("goods-value");
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
  BNavbarToggle,
  BFormCheckbox,
  BFormCheckboxGroup,
} from "bootstrap-vue";

export default {
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
    "vue-range-slider": VueRangeSlider,
  },
  data() {
    return {
      ratings: [1, 2, 3, 4, 5],
      price: [0, 0],
      sorters: [
        {
          value: "Поплуярности",
          name: "rating_0",
          icon: "fal fa-sort-numeric-down-alt",
        },
        {
          value: "Цене по убыванию",
          name: "price_0",
          icon: "fal fa-sort-size-down",
        },
        {
          value: "Цене по возрастанию",
          name: "price_1",
          icon: "fal fa-sort-size-up-alt",
        },
      ],
      activeSorter: undefined,
    };
  },
  props: {
    category: [Number, String],
    type: [String],
  },
  methods: {
    addToCart(e) {
      let data = [];
      data.push({
        quantity: {
          product_id: e.target.getAttribute("product-id"),
          amount: 1,
        },
        id: e.target.getAttribute("product-id"),
      });
      if (parseInt(e.target.getAttribute("in-stock"))) {
        if (localStorage.getItem("products") == null) {
          localStorage.setItem("products", JSON.stringify(data));
          Toast.fire({
            icon: "success",
            title: "Товар добавлен в корзину",
          });
          if (localStorage.getItem("totalPrice") == null) {
            localStorage.setItem(
              "totalPrice",
              parseInt(e.target.getAttribute("product-price"))
            );
          } else {
            localStorage.setItem(
              "totalPrice",
              parseInt(e.target.getAttribute("product-price")) +
                parseInt(localStorage.getItem("totalPrice"))
            );
          }
          goodsValue.innerHTML = `${localStorage.getItem(
                    "totalPrice"
                )} тг`;
        } else {
          let index = JSON.parse(localStorage.getItem("products")).findIndex(
            (object) => object.id == e.target.getAttribute("product-id")
          );
          if (index == -1) {
            let basketStorage = JSON.parse(localStorage.getItem("products"));
            basketStorage.push({
              quantity: {
                product_id: e.target.getAttribute("product-id"),
                amount: 1,
              },
              id: e.target.getAttribute("product-id"),
            });
            localStorage.setItem("products", JSON.stringify(basketStorage));
            Toast.fire({
              icon: "success",
              title: "Товар добавлен в корзину",
            });

            if (localStorage.getItem("totalPrice") == null) {
              localStorage.setItem(
                "totalPrice",
                parseInt(e.target.getAttribute("product-price"))
              );
            } else {
              localStorage.setItem(
                "totalPrice",
                parseInt(e.target.getAttribute("product-price")) +
                  parseInt(localStorage.getItem("totalPrice"))
              );
            }
            goodsValue.innerHTML = `${localStorage.getItem(
                    "totalPrice"
                )} тг`;
          } else {
            Toast.fire({
              icon: "warning",
              title: "Товар добавлен",
            });
          }
        }
      } else {
        Toast.fire({
          icon: "warning",
          title: "Товара нет в наличии",
        });
      }
    },
    scrollBottom() {
      this.productsContaier.scrollIntoView();
    },
    sortProducts(e) {
      this.activeSorter = e.target.getAttribute("name");
      let min = this.price[0] === 0 ? 1 : this.price[0];
      let max = this.price[1] === 0 ? this.maxprice : this.price[1];
      this.params["price"] = min + "_" + max;
      this.params["sort"] = this.activeSorter;
      if (this.type != "promotions" && this.params["category"].length == 0) {
        this.params["category"].push(this.category);
      }
      this.params["page"] = 1;
      this.$store.dispatch("fetchProducts", {
        parametrs: this.params,
        type: { type: this.type, entityId: this.category },
      });
    },
    applyFilters() {
      let min = this.price[0] === 0 ? 1 : this.price[0];
      let max = this.price[1] === 0 ? this.maxprice : this.price[1];
      this.params["price"] = min + "_" + max;
      if (this.type != "promotions" && this.params["category"].length == 0) {
        this.params["category"].push(this.category);
      }
      this.params["page"] = 1;
      this.$store.dispatch("fetchProducts", {
        parametrs: this.params,
        type: { type: this.type, entityId: this.category },
      });
    },
    resetFilters() {
      this.price[0] = 0;
      this.price[1] = 0;
      this.$store.dispatch("clearFilters");
    },
    showMoreProducts() {
      let min = this.price[0] === 0 ? 1 : this.price[0];
      let max = this.price[1] === 0 ? this.maxprice : this.price[1];
      this.params["price"] = min + "_" + max;
      this.params["sort"] = this.activeSorter;
      if (this.type != "promotions" && this.params["category"].length == 0) {
        this.params["category"].push(this.category);
      }
      this.params["page"] = this.currentPage + 1;
      this.$store.dispatch("fetchMoreProducts", {
        parametrs: this.params,
        type: { type: this.type, entityId: this.category },
      });
    },
  },
  computed: {
    ...mapState({
      products: "products",
      filters: "filters",
      maxprice: "maxprice",
      total: "total",
      currentPage: "currentPage",
      params: "params",
    }),
    productsContaier() {
      return this.$refs.products;
    },
  },
  created() {
    this.$store.dispatch("fetchFilters", {
      category: this.category,
      type: this.type,
    });
    this.$store.dispatch("fetchProducts", {
      parametrs: this.type != "promotions" ? { category: [this.category] } : {},
      type: { type: this.type, entityId: this.category },
    });
  },
  mounted() {
    this.scrollBottom();
  },
};
</script>

<style lang="scss" scoped></style>
