<template>
  <div>
    <div class="recipes-wrapper">
      <masonry :cols="{default: 2, 768: 1}" :gutter="20">
        <div class="recipe-item" v-for="(recipe, index) in recipes" :key="index">
          <a
            style="display: contents"
            :href="
                            `/recipes/${recipe.category.slug}/${recipe.slug}`
                        "
          >
            <div class="recipe-content">
              <a
                class="recipe-link"
                :href="
                                    `/recipes/${recipe.category.slug}/${recipe.slug}`
                                "
              >Подробнее</a>
              <img :src="`/storage/${recipe.thumbnail}`" />
              <h3 class="recipe-title">{{ recipe.name }}</h3>
            </div>
          </a>
        </div>
      </masonry>
    </div>
    <div
      class="d-flex justify-content-start my-4"
      v-if="total - (recipes ? recipes.length : 0) > 0"
    >
      <button class="show-more" type="button" @click="showMoreRecipes">
        Еще
        <span>{{ total - recipes.length }}</span> отличных рецептов
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      baseUrl: ""
    };
  },
  props: {},
  methods: {
    showMoreRecipes() {
      this.$store.dispatch("fetchMoreRecipes", {
        category: this.category,
        page: this.currentPage + 1
      });
    }
  },
  computed: {
    ...mapState({
      recipes: "recipes",
      total: "total",
      currentPage: "currentPage"
    })
  },
  created() {
    this.$store.dispatch("fetchRecipes", this.category ? this.category : "");
  }
};
</script>

<style lang="scss" scoped></style>
