<template>
  <div class="reviews">
    <div class="row">
      <div
        :class="{'col-lg-7 d-flex align-items-center': type == 'product', 'col-lg-5 d-flex align-items-center': type =='recipe'}"
      >
        <h2 v-if="type=='product'">Отзывы о товаре</h2>
        <h2 v-else>Отзывы о рецепте</h2>
      </div>
      <div
        :class="{'col-lg-5 d-flex justify-content-between align-items-center': type == 'product', 'col-lg-7 d-flex justify-content-between align-items-center': type =='recipe'}"
      >
        <div class="average-rating">
          <p>
            Средняя оценка
            <span>{{ average.toPrecision(2) }}</span>
          </p>
          <div class="star-rating">
            <label
              class="star-rating__star"
              v-for="(rating, index) in ratings"
              :key="index"
              :class="{
                                                        'is-selected':
                                                            average >= rating &&
                                                            average != null
                                                    }"
            >
              <i class="fas fa-star"></i>
            </label>
          </div>
        </div>
        <button type="button" class="review-btn" @click="showForm">Оставить отзыв</button>
      </div>
    </div>
    <div class="row review py-4" v-for="(review, index) in reviews" :key="index">
      <div class="col-lg-2">
        <p class="mark">Оценка</p>
        <div class="star-rating">
          <label
            class="star-rating__star"
            v-for="(rating, index) in ratings"
            :key="index"
            :class="{
                                                        'is-selected':
                                                            review.rating >= rating &&
                                                        review.rating != null
                                                    }"
          >
            <i class="fas fa-star"></i>
          </label>
        </div>
      </div>
      <div class="col-lg-10 d-flex justify-content-between flex-column">
        <div>
          <h2 class="name">
            {{ review.user.name }}
            <span>{{ review.created_at }}</span>
          </h2>
          <p class="comment">{{ review.review }}</p>
        </div>
        <div class="vote">
          <span>
            <i class="fas fa-thumbs-up" :review-id="review.id" @click="upVote($event)"></i>
            {{ review.upvotes_count }}
          </span>
          <span>
            <i class="fas fa-thumbs-down" :review-id="review.id" @click="downVote($event)"></i>
            {{ review.downvotes_count }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 d-flex justify-content-center my-5"
        v-if="total - (reviews ? reviews.length : 0) > 0"
      >
        <button class="show-more" type="button" @click="showMoreReviews">
          Показать еще
          {{ total - reviews.length }} отзывов
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      ratings: [1, 2, 3, 4, 5]
    };
  },
  props: {
    product: [Number, String],
    type: [Number, String],
    average: [String, Number]
  },
  methods: {
    showForm() {
      Swal.fire({
        title: "Ваш отзыв",
        confirmButtonText: "Оставить отзыв",
        focusConfirm: false,
        html: `<form class="review-form">
                  <div class="form-group">
                      <textarea name="review"></textarea>
                  </div>
                  <div class="form-group">
                      <div class="star-rating">
                        <input type="radio" value="5" name="rating" id="rating-5">
                        <label class="star-rating__star" for="rating-5">
                            <i class="fas fa-star"></i>
                        </label>
                        <input type="radio" value="4" name="rating" id="rating-4">
                        <label class="star-rating__star" for="rating-4">
                            <i class="fas fa-star"></i>
                        </label>
                        <input type="radio" value="3" name="rating" id="rating-3">
                        <label class="star-rating__star" for="rating-3">
                            <i class="fas fa-star"></i>
                        </label>
                        <input type="radio" value="2" name="rating" id="rating-2">
                        <label class="star-rating__star" for="rating-2">
                            <i class="fas fa-star"></i>
                        </label>
                        <input type="radio" value="1" name="rating" id="rating-1">
                        <label class="star-rating__star" for="rating-1">
                            <i class="fas fa-star"></i>
                        </label>
                      </div>
                  </div>
                </form>`,
        preConfirm: () => {
          let reviewForm = document.querySelector(".review-form");
          let review = new FormData(reviewForm);
          this.$store.dispatch("postReview", {
            id: this.product,
            type: this.type,
            review
          });
        }
      });
    },
    showMoreReviews() {
      this.$store.dispatch("fetchMoreReviews", {
        id: this.product,
        type: this.type,
        page: this.currentPage + 1
      });
    },
    upVote(e) {
      this.$store.dispatch("upVote", {
        id: e.target.getAttribute("review-id")
      });
    },
    downVote(e) {
      this.$store.dispatch("downVote", {
        id: e.target.getAttribute("review-id")
      });
    }
  },
  computed: {
    ...mapState({
      reviews: "reviews",
      total: "total",
      currentPage: "currentPage"
    })
  },
  created() {
    this.$store.dispatch("fetchReviews", { id: this.product, type: this.type });
  }
};
</script>

<style lang="scss" scoped>
.review-btn {
  font-size: 16px;
  font-family: "GTWalsheimPro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 10px;
  background-color: rgb(12, 118, 227);
  max-width: 193px;
  width: 100%;
  height: 50px;
  border: none;
}
.average-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 220px;
  width: 100%;
  p {
    font-size: 14px;
    font-family: "GTWalsheimPro";
    color: rgb(134, 134, 134);
    line-height: 1.2;
    span {
      font-weight: bold;
      color: #ff2703;
    }
  }
}
h2 {
  font-size: 18px;
  font-family: "GTWalsheimPro";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
.review {
  min-height: 170px;
  border-bottom: 1px solid rgb(240, 240, 240);
  &:last-child {
    border-bottom: none;
  }
  .star-rating {
    justify-content: flex-start;
    margin-top: 1rem;
  }
  .star-rating__star {
    font-size: 12px;
  }
  .mark {
    font-size: 14px;
    font-family: "GTWalsheimPro";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: normal;
    background: none;
    padding: 0;
  }
  .name {
    font-size: 14px;
    font-family: "GTWalsheimPro";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: 600;
    span {
      color: rgb(109, 109, 109);
      margin-left: 1rem;
      font-weight: normal;
    }
  }
  .comment {
    margin-top: 1rem;
    font-size: 14px;
    font-family: "GTWalsheimPro";
    color: rgb(74, 74, 74);
    line-height: 1.714;
  }
  .vote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 45px;
      font-size: 14px;
      font-family: "GTWalsheimPro";
      color: rgb(255, 39, 3);
      line-height: 1.2;
      &:last-child {
        margin-left: 1rem;
      }
    }
    .fa {
      &-thumbs-up {
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(255, 39, 3);
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-thumbs-down {
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(12, 118, 227);
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.show-more {
  font-family: GTWalsheimPro;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(255, 39, 3);
  max-width: 230px;
  width: 100%;
  height: 50px;
  border: none;
}
</style>
