// Colors
$arsenic: rgb(70, 73, 75);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: rgb(255, 174, 0);
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: rgb(255, 255, 255);
$oldrose: rgb(182, 47, 82);
$dodgerblue: rgb(0, 126, 255);
$navyblue: rgb(12, 118, 227);
$verylightgrey: rgb(206, 206, 206);
$prussianblue: rgb(0, 57, 93);
$oslogrey: rgb(135, 136, 136);
$whisper: rgb(236, 236, 236);
$pattensblue: #d4dce4;
$aliceblue: rgb(242, 243, 244);
$azure: rgb(247, 248, 248);
$scarlet: rgb(255, 39, 3);
$codgrey: rgb(44, 47, 49);
$whitesmoke: rgb(245, 245, 245);
$greychateau: rgb(167, 172, 176);
$darkgray: rgb(164, 164, 164);
$fruitsalad: rgb(75, 174, 80);
